@charset "utf-8";

@font-face {
  font-family:'Noto Sans';
  font-style:normal;
  font-weight:400;
  src:url('/fonts/NotoSansKR-Light.woff2') format('woff2'),
  url('/fonts/NotoSansKR-Light.woff') format('woff'),
  url('/fonts/NotoSansKR-Light.otf') format('opentype');
  src:local(※), url('/fonts/NotoSansKR-Light.woff') format('woff');
}

@font-face {
  font-family:'Noto Sans';
  font-style:normal;
  font-weight:400;
  src:url('/fonts/NotoSansKR-Regular.woff2') format('woff2'),
  url('/fonts/NotoSansKR-Regular.woff') format('woff'),
  url('/fonts/NotoSansKR-Regular.otf') format('opentype');
  src:local(※), url('/fonts/NotoSansKR-Regular.woff') format('woff');
}

@font-face {
  font-family:'Noto Sans';
  font-style:normal;
  font-weight:500;
  src:url('/fonts/NotoSansKR-Medium.woff2') format('woff2'),
    url('/fonts/NotoSansKR-Medium.woff') format('woff'),
    url('/fonts/NotoSansKR-Medium.otf') format('opentype');
    src:local(※), url('/fonts/NotoSansKR-Medium.woff') format('woff');
}

@font-face {
  font-family:'Noto Sans';
  font-style:normal;
  font-weight:800;
  src:url('/fonts/NotoSansKR-Bold.woff2') format('woff2'),
    url('/fonts/NotoSansKR-Bold.woff') format('woff'),
    url('/fonts/NotoSansKR-Bold.otf') format('opentype');
    src:local(※), url('/fonts/NotoSansKR-Bold.woff') format('woff');
}