- var { project } = require('./config');
- var projectData = JSON.parse(stringify(project));
- var title = project.title.charAt(0).toUpperCase() + project.title.slice(1);
block variables

<!DOCTYPE html>
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title !{title}
    link(rel="stylesheet" href=`/css/${project.title}.min.css`)
  body(class=bodyClass)

    block body
      #wrap
        include /components/layouts/header

        #container
          #contents
            block contents

        include /components/layouts/footer

      div.dimmed
      script(src="/js/plugins/jquery-1.12.4.min.js")
      script(src=`/js/${project.title}.bundle.min.js`)
      script(src="/js/plugins/selectPack.js")
      script(src="/js/ui/common.js")
