@include respond(mobile) {
  .mTitle { margin:10px 0 0; padding:36px 20px 28px; background:#fff;
    .title { font-size:20px; color:#000; }
  }
}

@include respond(mobile-tablet) {

}

@include respond(tablet) {

}

@include respond(tablet-pc) {

}

@include respond(pc) {
  .mTitle { position:relative; width:1406px; margin:60px auto 40px;
    &.typeLeft { text-align:left;
      .title { margin:0 0 2px; font-size:28px; font-weight:800; }
      .desc { font-size:18px; color:#000; }
      .btnAll { position:absolute; right:0; bottom:8px; }
    }
    &.typeCenter { text-align:center;
      .title { margin:0 0 4px; font-size:36px; font-weight:400; }
      .desc { margin:0 0 31px; font-size:16px; color:#959595; }
      .btnAll { margin: 0 0 40px; }
    }
    &.subMainTheme { margin:40px auto 20px; }

    .title { color:#000; }
    .desc { font-size:16px; color:#959595; }
    .btnAll { font-size:16px; color:#0055fb;
      .icoArrow { margin:0 0 1px 7px; @include icoArrow('right', 7px, 10px, 1px, #0055fb); }
    }
  }

  section + section {
    .mTitle {
       &.subMainTheme { margin:0 auto 20px; }
    }
  }
}
