.txtWarn { color:#ff3434; }
.txtInfo { color:#959595; }

@include respond(mobile) {
  /* global */
  .RW { display:none; }
  .RMB { display:block; }

  .gInner { padding:0 20px; }
  .gInside { padding:0 20px; }

  .mTitle { position:relative;
    &.typeSub { padding:40px 20px 10px; background:#fff;
      .title { @include text-ellipsis(26, 2); font-size:20px; font-weight:800; }
      .desc { @include text-ellipsis(18, 2); margin:10px 0 0; font-size:13px; color:#000; }
    }

    &.typeLeft { padding:29px 20px 12px; text-align:left;
      .title { margin:0 0 8px; font-size:20px; font-weight:800; }
      .desc { margin:0 0 30px; font-size:16px; line-height:22px; color:#000; }
      .btnAll { position:absolute; right:20px; top:30px;
        .icoArrow { display:none; }
      }
    }
    .gInner &.typeLeft { padding-left:0; padding-right:0; }

    &.typeCenter { padding:55px 20px 52px; text-align:center;
      .title { margin:0 0 5px; font-size:22px; line-height:28px; font-weight:400; }
      .desc { margin:0 0 11px; font-size:13px; color:#000; }
      .btnAll { font-size:14px; }
    }

    &.typeRandom { z-index:3; text-align:left; padding:30px 20px;
      .title { margin:0 0 9px; font-size:13px; font-weight:800;
        strong { font-size:inherit; font-weight:inherit; color:#fff; }
        span { margin:0 0 0 10px; font-size:inherit; font-weight:inherit; color:#959595;}
      }
      .desc { margin:0 0 23px; font-size:18px; font-weight:800; color:#fff; line-height:25px; }
      .btnAll { font-size:14px;
        .icoArrow { margin:0 0 1px 7px; @include icoArrow('right', 5px, 9px, 1px, #0055fb); }
      }
    }

    &.typeProduct { margin:35px 20px 25px;
      .title { font-size:20px; }

    }

    .title { color:#000; }
    .desc { font-size:16px; color:#959595; }
    .btnAll { font-size:16px; color:#0055fb;
      .icoArrow { margin:0 0 1px 7px; @include icoArrow('right', 7px, 10px, 1px, #0055fb); }
    }
  }

  .mTooltip {
    .btnTip { @include blind(); }
    .tooltip { display:none; position:absolute; top:30px; left:0; right:0; z-index:10; min-width:300px; max-width:90%; margin:0 auto; padding:20px 40px 20px 20px; border:1px solid #e8e8e8; border-radius:3px; box-sizing:border-box; background:#fff;
      .btnClose { position:absolute; top:19px; right:19px; width:8px; height:8px; background:#ddd; }
    }
  }



  .mEmpty { text-align:center;
    .search { font-size:16px; font-weight:800;
      .value { display:block; color:#0055fb; }
    }
    .empty { display:inline-block; width:50%; max-width:296px; margin:40px 0 15px;
      img { width:100%; }
    }
    .desc { font-size:14px; color:#959595; }

    &.typeSearch { padding:45px 0 30px; border-bottom:1px solid #e8e8e8; }
    &.typeCategory { position:relative; left:-20px; width:calc(100% + 40px); padding:80px 0; background:#f5f5f5; }
    &.typeReview { position:relative; left:-20px; width:calc(100% + 40px); padding:80px 0; background:#f5f5f5; }
  }

  .mPagination { padding:0 20px 20px; background:#fff;
    &.typeMore { text-align:center;
      .btnMore { width:100%; height:40px; margin:0 auto; border:1px solid #d8d8d9; border-radius:4px;
        .icoArrow {
          @include icoArrow('bottom', 10px, 5px, 1px, #000); margin:0 0 0 4px;
        }
      }
      .page { display:none; }
    }

    &.typeList {
      li { display:inline-block; }
    }
  }

  .fSelect { display:inline-block; position:relative; padding:0 32px 0 16px; box-sizing:border-box; border-radius:4px; line-height:1;
    &:after { content:''; display:block; position:absolute; right:16px; top:calc(50% - 2px); width:9px; height:5px; background:url('#{$src}/ico_select.png') no-repeat center center; background-size:9px 5px; transition:transform .3s ease; transform:rotate(-180deg);}
    select { visibility:hidden; position:absolute; z-index:-1; left:-100% }
    .fButton { position:absolute; top:0; right:0; overflow:hidden; width:100%; height:100%; font-size:1px; line-height:0; color:transparent; text-indent:-150%; letter-spacing:-1em; white-space:nowrap; background:none; }
    .fNow { overflow:hidden; height:40px; font-size:14px; color:#000; word-break:break-all; cursor:pointer; line-height:40px; }
    .fOption { display:none; position:absolute; z-index:10; min-width:125px; height:auto; margin:6px 0 0 0; padding:10px 0; border:1px solid #e8e8e8; border-radius:4px; opacity:1; background:#fff; text-align:left;
      li {
        a { display:block; margin:4px 0; padding:14px 16px; color:#333; word-break:break-all; white-space:nowrap; line-height:1;
          &:hover { color:#0055fb; background:#f6f7f9; }
        }
        &.selected {
          a { color:#0055fb; background:#f6f7f9;}
        }
      }
    }
    &.error { position:relative;
      &:before { content:''; display:block; position:absolute; left:-1px; top:-1px; width:calc(100% - 2px); height:calc(100% - 2px); border:2px solid #cf1401; border-radius:3px; }
    }
    &.show {
      &:after { transform:rotate(0); }
    }
    &.upShow {
      .fOption { box-shadow:0 0 10px 1px rgba(0, 0, 0, .08); }
    }
    &.downShow {
      .fOption { box-shadow:0 0 10px 1px rgba(0, 0, 0, .08); }
    }
    &.hide { display:none; }
    &.typeSort { min-width:125px; text-align:right; }
  }

  /* Global */
  [class^="btn"] { display:inline-block; box-sizing:border-box; transition-duration:.3s; transition-property:background, color, border; transition-timing-function:ease;
    &.btn {
      &Normal { border:1px solid #d8d8d9; padding:0 12px; text-align:center; border-radius:4px; background:#fff; font-size:13px; color:#7b7b7b; line-height:38px;
        &:hover { background-color:#f5f5f5; color:#959595; }
      }
      &Em { border:1px solid #eff7ff; padding:0 12px; border-radius:4px; background:#eff7ff; font-size:13px; color:#108af9; line-height:38px;
        &:hover { border-color:#e3efff; background:#e3efff; }
      }
      &Strong { border:1px solid #ffffff; padding:0 12px; border-radius:4px; background:#fff; font-size:13px; color:#108af9; line-height:38px;
        // &:hover { background-color:#f5f5f5; color:#959595; }
      }
      &Submit { border:1px solid #0055fb; padding:0 12px; border-radius:4px; background:#0055fb; font-size:13px; color:#fff; line-height:38px;
        &:hover { border-color:#004ce1; background:#004ce1; }
      }
      &Light { border:1px solid #000; padding:0 12px; border-radius:4px; background:#fff; font-size:13px; color:#000; line-height:38px;
        &:hover { background:#f5f5f5; }
      }
      &Dark { border:1px solid #000; padding:0 12px; border-radius:4px; background:#000; font-size:13px; color:#fff; line-height:38px; }
    }
    &.full { display:block; width:100%; }
    &.small { height:32px; font-size:12px; line-height:30px; }
    &.large { height:48px; line-height:46px; }
  }

  .txt {
    &Em { font-weight:800; color:#0055fb; }
    &Warn { color:#ff3434; }
  }
}

@include respond(tablet-pc) {
  /* grid */
  .gridSet { display:flex; flex-wrap:wrap;
    .grid {  }
    .grid3 { width:30%; }
    .grid7 { width:70%; }

    .wFilter { width:358px; }
    .wFilterResult { width:calc(100% - 358px); }
  }

  .gInner {
    .mTitle { padding-left:0; padding-right:0; }
  }

  .gInside { width:100%; max-width:1280px; margin:0 auto; padding:0 20px; box-sizing:border-box; }

  .gBlankTop {
    padding-top:50px;
  }

  .mTitle { position:relative; max-width:1404px; margin:0 auto; padding-left:20px; padding-right:20px;
    &.typeSearch { margin:68px auto 0; padding:65px 0 95px; }
    &.typeSub { padding:68px 20px 50px;
      .title { font-size:30px; font-weight:800; }
      .desc { margin:12px 0 0; font-size:15px; color:#000; }
    }

    &.typeLeft { margin:0 auto 19px; text-align:left;
      .title { margin:0 0 2px; font-size:28px; font-weight:800; }
      .desc { font-size:18px; color:#000; }
      .btnAll { position:absolute; right:20px; bottom:8px; }
    }

    &.typeCenter { margin:0 auto; padding:90px 0 75px; text-align:center;
      .title { margin:0 0 4px; font-size:36px; font-weight:400; }
      .desc { margin:0 0 31px; font-size:16px; color:#959595; }
      .btnAll { }
    }

    &.typeRandom { width:auto; z-index:3; margin:0; padding:56px 33px 0 33px; text-align:left;
      .title { margin:0 0 9px; font-size:13px; font-weight:800;
        strong { font-size:inherit; font-weight:inherit; color:#fff; }
        span { margin:0 0 0 10px; font-size:inherit; font-weight:inherit; color:#959595; }
      }
      .desc { margin:0 0 30px; font-size:28px; color:#fff; line-height:35px; }
      .btnAll { position:relative; }
    }

    &.typeProduct { max-width:1240px; margin:0 auto 20px; padding:0;
      .title { font-size:32px; font-weight:800; }

    }
    .title { color:#000; }
    .desc { font-size:16px; color:#959595; }
    .btnAll { font-size:16px; color:#0055fb;
      .icoArrow { margin:0 0 1px 7px; @include icoArrow('right', 7px, 10px, 1px, #0055fb); }
    }
  }

  .mTooltip { position:relative; display:inline-block; vertical-align:top;
    .btnTip { @include blind(); display:inline-block; width:16px; height:16px; background:#333; border-radius:50%; }
    .tooltip { display:none; position:absolute; top:30px; z-index:10; padding:20px 40px 20px 20px; border:1px solid #e8e8e8; border-radius:3px; box-sizing:border-box; background:#fff;
      .btnClose { position:absolute; top:19px; right:19px; width:8px; height:8px; background:#ddd; }
      .content { white-space:nowrap;
        .titleTip { font-size:13px; font-weight:800; color:#000; }
        .descTip { font-size:13px; color:#5b5b5b; }
        .txtInfo { font-size:12px; }
      }
    }
  }

  .mEmpty { text-align:center;
    .search { font-size:22px; font-weight:800;
      .value { color:#0055fb; }
    }
    .empty { display:inline-block; width:148px; margin:70px 0;
      img { width:100%; }
    }
    .desc { font-size:16px; color:#959595; }

    &.typeSearch { padding:80px 0; border-bottom:1px solid #e8e8e8; }
    &.typeCategory { padding:24px 0 0; text-align:left; border-top:1px solid #e8e8e8; }
    &.typeReview { position:relative; padding:70px 0; background:#f5f5f5;
      .desc { color:#7b7b7b; }
    }
  }

  .mPagination { padding:0 0 20px; text-align:center;
    &.typeMore {
      .btnMore { min-width:240px; height:40px; margin:0 auto; padding:0 20px; font-size:14px; color:#5b5b5b; border:1px solid #e8e8e8; border-radius:3px; box-sizing:border-box; transition:.3s;
        &:hover { background:#f5f5f5; }
        .icoArrow { display:none; }
      }
    }

    &.typeList {
      li { display:inline-block; vertical-align:top;
        a { display:inline-block; padding:0 14px; font-size:16px; color:#5b5b5b; }
      }
    }
  }

  .fSelect { display:inline-block; position:relative; min-width:100px; padding:0 32px 0 16px; border:1px solid #e8e8e8; box-sizing:border-box; border-radius:4px; line-height:1; text-align:left;
    &:after { content:''; display:block; position:absolute; right:16px; top:calc(50% - 2px); width:9px; height:5px; background:url('#{$src}/ico_select.png') no-repeat center center; background-size:9px 5px; transition:transform .3s ease; transform:rotate(-180deg);}
    select { visibility:hidden; position:absolute; z-index:-1; left:-100% }
    .fButton { position:absolute; top:0; right:0; overflow:hidden; width:100%; height:100%; font-size:1px; line-height:0; color:transparent; text-indent:-150%; letter-spacing:-1em; white-space:nowrap; background:none; }
    .fNow { overflow:hidden; height:40px; font-size:14px; color:#000; word-break:break-all; cursor:pointer; line-height:40px; }
    .fOption { display:none; position:absolute; z-index:10; width:100%; min-width:130px; height:auto; margin:6px 0 0; padding:9px 0; border:1px solid #e8e8e8; border-radius:4px; opacity:1; background:#fff;
      li {
        a { display:block; padding:14px 16px; color:#333; word-break:break-all; white-space:pre-wrap; line-height:1;
          &:hover { color:#0055fb; background:#f6f7f9; }
        }
        &.selected {
          a { color:#0055fb; background:#f6f7f9;}
        }
      }
    }
    &.error { position:relative;
      &:before { content:''; display:block; position:absolute; left:-1px; top:-1px; width:calc(100% - 2px); height:calc(100% - 2px); border:2px solid #cf1401; border-radius:3px; }
    }
    &.show {
      &:after { transform:rotate(0); }
    }
    &.upShow {
      .fOption { box-shadow:0 0 10px 1px rgba(0, 0, 0, .08); }
    }
    &.downShow {
      .fOption { box-shadow:0 0 10px 1px rgba(0, 0, 0, .08); }
    }
    &.hide { display:none; }
    &.typeSort { min-width:130px; }
  }

  /* Global */
  .txt {
    &Em { font-size:inherit; font-weight:800; color:#0055fb; text-decoration:underline; }
    &Warn { font-size:inherit; color:#ff3434; }
  }

  [class^="btn"] { transition-duration:.3s; transition-property:background, color, border; transition-timing-function:ease;
    &.btn {
      &Normal { border:1px solid #d8d8d9; padding:0 16px; border-radius:4px; background:#fff; font-size:15px; color:#7b7b7b; line-height:38px;
        &:hover { background-color:#f5f5f5; color:#959595; }
      }
      &Em { border:1px solid #eff7ff; padding:0 16px; border-radius:4px; background:#eff7ff; font-size:15px; color:#108af9; line-height:38px;
        &:hover { border-color:#e3efff; background:#e3efff; }
      }
      &Strong { border:1px solid #ffffff; padding:0 16px; border-radius:4px; background:#fff; font-size:15px; color:#108af9; line-height:38px;
        // &:hover { background-color:#f5f5f5; color:#959595; }
      }
      &Submit { border:1px solid #0055fb; padding:0 16px; border-radius:4px; background:#0055fb; font-size:15px; color:#fff; line-height:38px;
        &:hover { border-color:#004ce1; background:#004ce1; }
      }
      &Light { border:1px solid #000; padding:0 16px; border-radius:4px; background:#fff; font-size:15px; color:#000; line-height:38px;
        &:hover { background:#f5f5f5; }
      }
      &Dark { border:1px solid #000; padding:0 16px; border-radius:4px; background:#000; font-size:15px; color:#fff; line-height:38px; }
    }

    &.disabled { border-color:#bfbfc3; background:#bfbfc3; color:#fff; pointer-events:none; }
    &.full { display:block; width:100%; }
    &.small { height:32px; font-size:13px; line-height:30px; }
    &.large { height:48px; line-height:46px; }
  }

  [class^="fText"] { overflow:hidden; border-radius:4px; padding:0 13px; border:1px solid #e8e8e8; box-sizing:border-box; font-size:15px; color:#000;

    &.error { border-color:#ff3434; }
    &.disabled { border-color:#bfbfc3; }
    &.full { width:100%; }
    &.small { height:32px; font-size:13px; line-height:30px; }
    &.large { height:48px; line-height:46px; }
  }

  .fTextarea { width:100%; padding:13px; font-size:14px; box-sizing:border-box; }

  .mLayer { position:fixed; left:0; top:50%; right:0; z-index:124; margin:0 auto; text-align:center; transform:translateY(-50%);
    .inner { display:inline-block; overflow:hidden; position:relative; margin:0 auto; padding:30px; border:1px solid #aaa; border-radius:4px; background:#fff; text-align:left;
      .head { margin:0 0 21px;
        .title { display:block; margin:0 0 8px; font-size:22px; line-height:1; }
        .desc { font-size:14px; }
        .btnClose { position:absolute; right:0; top:0; width:50px; height:50px; font-size:0; color:transparent; text-align:center;
          @include icoX(12px, 2px, #9a9a9a);
        }
      }

      .content {
        .reviewArea { text-align:center;
          .grade {
            .icoGrade { width:45px; height:45px; margin:0 2px; fill:#e0e0e0; cursor:pointer; transition:all .3s ease;
              &.active { fill:#ffc300; }
              &.enter { fill:#ffc300; }
            }
          }
          .scoreWrap { margin:0 0 23px;
            p { font-size:16px; color:#a4a4a4; }
            &.active {
              p { color:#000; }
              span { margin:0 0 0 5px; }
            }
          }
        }
        .inputArea { margin:0 0 12px; }
        .txtArea { font-size:13px; color:#333;
          .txtEm { display:inline-block; margin:0 0 0 5px; }
        }
        .infoArea { margin:0 0 28px;
          .infoList {
            li { position:relative; padding:0 0 0 12px; font-size:13px; color:#7b7b7b; line-height:20px;
              &:before { content:''; display:block; overflow:hidden; position:absolute; left:0; top:8px; width:3px; height:3px; border-radius:100%; background:#7b7b7b; }
              span { color:#000; }
            }
          }
        }
        .btnArea { }
      }
    }
  }

  .dimmed { position:fixed; left:0; top:0; z-index:123; width:100%; height:100%; background:rgba(0, 0, 0, .2); }
}

@include respond(tablet) {
  /* grid */
  .gridSet { display:flex; flex-wrap:wrap;
    .grid {  }
    .grid3 { width:30%; }
    .grid7 { width:70%; }

    .wFilter { width:308px; }
    .wFilterResult { width:calc(100% - 308px); }
  }

  .gInner { padding:0 20px; }

  .gBlankTop {
    padding-top:37.5px;
  }

  .mTitle {
    &.typeLeft {
      .title { margin:0 0 2px; }
      .desc { font-size:18px; }
      .btnAll { bottom:8px; }
    }

    &.typeCenter { padding:67.5px 0 56.25px;
      .title { margin:0 0 3px; }
      .desc { margin:0 0 23.25px; }
      .btnAll { margin:0 0 30px; }
    }

    &.typeRandom { padding:42px 24.75px 0 24.75px;
      .title { margin:0 0 6.75px;
        span { margin:0 0 0 7.5px; }
      }
      .desc { margin:0 0 22.5px; font-size:21px; color:#fff; line-height:28px; }
    }
  }
}

@include respond(tablet-to-pc) {

}

@include respond(pc) {

}

@include respond(pc-full) {

}
