#footer {  }
#footer .menu {
  .title { display:block; color:#111; text-transform:uppercase; }
  .link { display:block; color:#959595; }
}

@include respond(mobile) {

  #contents { background:#f5f5f5; }
  #footer .menu .title { font-size:11px; }
}

@include respond(mobile-tablet) {
  #header { position:absolute; top:0; left:0; height:60px; }
  #footer { position:relative; margin:10px 0 0; }
  #footer .logo { position:absolute; left:20px; bottom:139px; }
  #footer .menu {
    display:inline-block; width:49%; min-height:158px; vertical-align:top;
    .title { margin:0 0 17px; }
    .link { margin:0 0 22px; font-size:14px; }
  }
  #footer .nav { padding:40px 18px 0; border-bottom:1px solid #e8e8e8; background:#fff; }
  #footer .bottom { height:183px; padding:54px 20px 0; box-sizing:border-box; }
  #footer .copyright { font-size:11px; color:#959595; }
  #footer .policy { display:none; }
  #footer .btnTop { display:none; }
}

@include respond(tablet) {

}

@include respond(tablet-pc) {
  .RMB { display:none; }
}

@include respond(pc) {
  #header { @include flex(); height:68px; border-bottom:1px solid #ececec; background:#fff; }
  #header .logo { width:200px; font-size:14px; }
  #header .navigation {}
  #header .navigation .menu > li { position:relative; display:inline-block; padding:0 20px; font-size:14px; vertical-align:top; }
  #header .navigation .menu > li a { color:#000; font-weight:bold; font-size:16px; }

  #header .navigation .menuContent { opacity:0; height:0;
    overflow:hidden; position:absolute; left:20px; margin:10px 0 0; border:1px solid #ddd; background:#fff; white-space:nowrap; border-radius:2px;
    .shotcut { display:block; margin:0 0 34px; font-size:20px; }
    .subMenu { display:inline-block; min-width:152px; padding:34px 24px 20px; box-sizing:border-box;
      &.curation { position:relative; z-index:1; background:#fafafa;
        &:before { content:""; display:block; width:100%; height:100%; position:absolute; top:-100%; bottom:0; left:0; right:0; z-index:-1; background:#fafafa; }
      }
      .menuTitle { display:block; margin:0 0 15px; font-size:13px; color:#959595; font-weight:400; }
    }
    .list li { display:block; margin:0 0 12px; }
  }
  #header .navigation .menu > li:hover .menuContent { opacity:1; height:auto; }
  #header .util {
    display:flex; margin:0 0 0 auto; font-size:14px;
    .story { position:relative; font-size:15px; color:#5b5b5b; font-weight:500; text-decoration:none; }
    .story:hover { color:#0055fb;
      &:before { content:""; position:absolute; bottom:0; display:block; width:100%; height:3px; background:#0055fb;; }
     }
  }
  #header .user { position:relative; width:24px; height:24px; margin:0 0 0 20px;
    .btnUser { @include blind(); position:relative; width:16px; height:16px; }
    .btnUser:before { content:""; position:absolute; top:0; left:3px; display:inline-block; width:11px; height:11px; border:2px solid #5b5b5b; border-radius:50%; box-sizing:border-box; }
    .btnUser:after { @extend .btnUser:before; top:9px; left:1px; width:15px; height:16px; }
  }
  #header .layer { position:absolute; left:-23px; top:34px; min-width:200px; padding:19px; border:1px solid #e8e8e8; box-sizing:border-box; background:#fff; border-radius:2px;
    .info {
      .id { @include ellipsis(100px, inline-block); }
      .btnLogout { display:block; margin:8px 0 0; font-size:12px; color:#959595; }
     }
    .my { display:flex; margin:18px 0 0; padding:18px 0 0; border-top:1px solid #e8e8e8;
      .detail { width:80px; }
      .count { display:block; margin:0 0 6px; color:#0055fb; font-size:18px; }
      .label { font-size:13px; color:#959595; }
     }
   }
  #header .search { display:none; }

  #contents { min-height:700px; }

  #footer { position:relative; padding:0; border-top:1px solid #e8e8e8; height:auto; line-height:1; background:#fff; }
  #footer .top { @include flex(); width:1240px; min-height:400px; margin:0 auto; padding:40px 0 60px; font-size:0; }
  #footer .menu { display:inline-block; margin:0 0 0 20px; padding:0 65px 0 0; vertical-align:top; box-sizing:border-box; }
  #footer .menu:first-child { margin:0; }
  #footer .menu .title { font-size:12px; }
  #footer .menu .link { margin:15px 0 0; font-size:14px; line-height:1; }
  #footer .menu .link[target="_blank"] { position:relative; }
  #footer .menu .link[target="_blank"]:after { content:""; display:inline-block; width:12px; height:12px; margin:0 0 0 12px; background:url("//img.echosting.cafe24.com/api/app/sfix_layout.png") no-repeat -75px 0; }
  #footer .bottom { position:relative; width:1240px; margin:0 auto; padding:31px 0 40px; }
  #footer .bottom:after { @include clearfix(); }
  #footer .policy { float:right; }
  #footer .policy a { display:inline-block; margin:0 30px 0 0; font-size:12px; color:#b8b8b8; }
  #footer .policy a strong { color:#333; font-weight:normal; }
  #footer .corp { align-items:start; }
  #footer .corp .logo { height:21px; }
  #footer .corp .familysite { position:relative; width:128px; margin:12px 0 0; }
  #footer .corp .familysite .button { position:relative; width:100%; padding:4px 8px 3px; font-size:11px; line-height:1; font-family:dotum, "돋움", sans-serif; font-weight:600; color:#4e4e4e; text-align:left; border:1px solid #bdbdbd; box-sizing:border-box;}
  #footer .corp .familysite .button:before,
  #footer .corp .familysite .button:after { content:""; position:absolute; display:block; }
  #footer .corp .familysite .button:before { top:6px; right:17px; width:1px; height:6px; background:#d5d6d7; }
  #footer .corp .familysite .button:after { top:5px; right:6px; height:0; width:0; border:4px transparent solid; border-right-width:0; border-left-color:#8f8f8f;
    -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -ms-transform:rotate(90deg); transform:rotate(90deg);
    -webkit-transition:.2s ease-out; transition:.2s ease-out; }
  #footer .corp .familysite {
    .site { overflow:hidden; visibility:hidden; z-index:2; position:absolute; bottom:19px;width:100%; padding:4px 2px; border:1px solid #bdbdbd; height:0; box-sizing:border-box; background:#fff;-webkit-transition:.2s ease-out; transition:.2s ease-out; }
  }
  #footer .corp .familysite .site a { display:block; padding:3px 6px 2px; font-size:11px; line-height:1; color:#7d7d7d; font-family:dotum, "돋움", sans-serif; }
  #footer .corp .familysite .site a:hover { position:relative; color:#fff; background:#11213b; }
  #footer .corp .familysite .site a:hover:before,
  #footer .corp .familysite .site a:hover:after { content:""; position:absolute; top:6px; right:6px; display:block; width:3px; height:3px; border-left:1px solid #fff; border-bottom:1px solid #fff; -webkit-transform:rotate(-135deg); transform:rotate(-135deg); }
  #footer .corp .familysite .site .line { margin:3px 0 0; padding:4px 0 0; border-top:1px solid #ebebeb; }
  #footer .corp .familysite.selected .button:after { -webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -ms-transform:rotate(-90deg); transform:rotate(-90deg); }
  #footer .corp .familysite.selected .site { visibility:visible; height:242px; }
  #footer .copyright { margin:17px 0 0; font-size:12px; color:#b8b8b8; }
  #footer .btnTop { z-index:1; position:absolute; top:32px; right:50%; margin-right:-620px; width:72px; height:72px; padding:19px 0 0; font-size:16px; text-align:center; box-sizing:border-box; text-transform:uppercase; border:1px solid #e1e1e1; }
  #footer .btnTop:before { content:""; display:block; margin:0 auto 5px;width:12px; height:12px; border:2px solid #2e3039; border-width:2px 0 0 2px; vertical-align:middle;
    -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg);
  }
}
