#footer {  }
#footer .menu {
  .title { display:block; color:#111; text-transform:uppercase; }
  .link { display:block; color:#959595; }
}

@include respond(mobile) {
  #footer .menu .title { font-size:11px; }
}

@include respond(mobile-tablet) {
  #wrap { padding:50px 0 0; }
  #header { position:fixed; top:0; left:0; right:0; z-index:90; height:50px;
    .logo { width:122px; height:15px; margin:20px 0 0 20px;
      a { display:block; height:15px; }
      svg { display:block; width:100%; height:100%; }
    }
    &.fixed { border-bottom:1px solid #ececec; background:#fff; }
    .navigation { position:fixed; top:0; bottom:0; right:-100%; z-index:101; opacity:0; overflow:auto; width:300px; height:100%; background:#fff; transition:.3s;
      .menu > li > a,
      .story { display:block; height:60px; padding:20px; line-height:1; font-size:18px; font-weight:500; box-sizing:border-box; text-decoration:none; }
     }
    .user { position:relative; margin:0 20px;
      .btnUser { display:none; }
      .btnLogin { display:inline-block; height:32px; line-height:30px; margin:16px 0 50px; padding:0 17px; font-size:12px; color:#0055fb; border:1px solid #0055fb; box-sizing:border-box; border-radius:2px; }
      .layer { display:none; padding:60px 0 20px; border-bottom:1px solid #e8e8e8;
        .info {
          &:before { content:""; display:block; width:60px; height:60px; background:url('../images/ico_user.png'); background-size:60px auto; }
          .id { @include ellipsis(100%, inline-block); margin:10px 0 0; font-size:18px; font-weight:400; }
          .btnLogout { position:absolute; bottom:20px; right:20px; font-size:12px; color:#959595; }
        }
        .my { margin:32px 0 0;
          .detail { display:inline-block; margin:0 24px 0 0;
            .count { display:block; font-size:20px; color:#000; }
            .label { font-size:12px; color:#000; }
          }
        }
      }
    }
  }

  #header .nav .menuContent { height:0; overflow:hidden; transition: .3s;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(232,232,232,1), 0px -1px 0px 0px rgba(232,232,232,1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(232,232,232,1), 0px -1px 0px 0px rgba(232,232,232,1);
    box-shadow: 0px 1px 0px 0px rgba(232,232,232,1), 0px -1px 0px 0px rgba(232,232,232,1);
    .shotcut { display:block; padding:22px 0; border-bottom:1px solid #e8e8e8; font-size:15px; color:#000; }
    .subMenu { display:inline-block; width:100%; padding:0 24px; box-sizing:border-box; background:#fafafa;
      .menuTitle { display:block; margin:29px 0 15px; font-size:11px; color:#797980; font-weight:400; }
      .list.half { display:flex; flex-wrap:wrap; width:100%;
        li { width:50%; }
      }
      .list li { margin:0 0 25px; font-size:14px; color:#000; font-weight:400; }
    }
    .subMenu + .subMenu { border-top:1px solid #e8e8e8; }
  }
  #header .nav li.selected .menuContent { height:auto; }

  #header .btnFold { }

  #header .btnFold { @include blind(); position:absolute; top:15px; right:20px; display:inline-block; width:23px; height:23px;
    &:before,
    &:after { content:""; display:block; position:absolute; top:10px; left:4px; width:16px; height:2px; transition:.5s; }
    &:before { color:#000; box-shadow:inset 0 0 0 32px, 0 -5px, 0 5px; }
   }
  #header .btnFoldLayout { position:fixed; top:0; left:0; z-index:100; display:block; width:100%; height:0; font-size:0; color:transparent; line-height:0; background:rgba(0, 0, 0, 0.4); transition:.2s; }
  .navShow #header .btnFoldLayout { height:100%; }
  .navShow #header .navigation { right:0; opacity:1; }
  .navShow #header .user .layer { display:block; }
  .navShow #header .btnFold { z-index:101;
    &:before { background:#000; transform:rotate(-315deg); box-shadow:none; }
    &:after { background:#000; transform:rotate(-45deg); }
   }
  #header .search { transition:.2s ease-out;
    .btnSearch { @include blind(); position:absolute; top:15px; right:59px; width:24px; height:24px;
      &:before { content:""; position:absolute; top:4px; left:4px; display:block; width:14px; height:14px; border:2px solid #000; border-radius:50%; box-sizing:border-box; }
      &:after { content:""; position:absolute; top:15px; left:15px; display:block; width:2px; height:5px; box-sizing:border-box; background:#000; transform:rotate(-45deg); }
    }
    .searchField { display:none; position:relative; padding:20px 16px; transition:.2s ease-out;
      .searchForm {
        input { width:100%; height:44px; margin:5px 0 0; padding:0 13px; line-height:44px; box-sizing:border-box; border:1px solid #e8e8e8; background:#fff; border-radius:2px; }
        .result { display:none; padding:28px 14px 0; box-sizing:border-box;
          .title { display:block; margin:28px 0 16px; font-weight:400; font-size:13px; color:#959595;
            &:first-child { margin-top:0; }
          }
          .value { display:block; margin:0 0 17px; font-size:15px; font-weight:500; color:#000; }
        }
      }
      .searchForm.selected .result { display:block; }
    }
    &.active { position:fixed; top:0; left:0; right:0; z-index:100; height:100%; background:#fff;
      .searchField { display:block; }
      .btnSearch { display:none; }
    }
    .btnClose { @include blind(); position:absolute; top:15px; right:20px; display:inline-block; width:23px; height:23px;
      &:before,
      &:after { content:""; display:block; position:absolute; top:10px; left:4px; width:16px; height:2px; }
      &:before { background:#000; transform:rotate(-315deg); }
      &:after { background:#000; transform:rotate(-45deg); }
    }
  }

  #footer { position:relative; border-top:1px solid #e8e8e8; }
  #footer .logo { position:absolute; left:20px; bottom:89px; width:122px; height:14px;
    svg { display:block; width:100%; height:100%; fill:#959595; }
  }
  #footer .corp .familysite { display:none; }
  #footer .menu { display:inline-block; width:49%; margin:0 0 28px; vertical-align:top;
    .title { margin:0 0 17px; }
    .link { margin:0 0 18px; font-size:14px; font-weight:400; color:#5b5b5b; text-decoration:none; }
  }
  #footer .nav { padding:40px 20px 0; border-bottom:1px solid #e8e8e8; background:#fff; }
  #footer .bottom { height:129px; padding:48px 20px 0; box-sizing:border-box; background:#f5f5f5; }
  #footer .copyright { font-size:11px; color:#959595; }
  #footer .policy { display:none; }
  #footer .btnTop { display:none; }
}

@include respond(tablet) {
  body.gFull #contents { padding-left:0; padding-right:0; }
  #contents {  }
  .gInner { padding:0 20px; }
}

@include respond(tablet-pc) {
  .RMB { display:none; }
}

@include respond(pc) {
  body.gFull #contents { max-width:100%; padding-left:0; padding-right:0; }
  #header { display:flex; position:fixed; top:0; z-index:90; width:100%; height:68px; box-sizing:border-box; transition:.3s;
    &.fixed { background:#fff; box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1); }
    &.typeWhite { border-bottom:0;
      &:not(.fixed) {
        .logo {
          svg { fill:#fff; }
        }
        .nav .menu>li>a, .story { color:#fff;
          &:hover { color:#0055fb; }
         }
        .search .btnSearch {
          &:before { border-color:#fff; }
          &:after { background:#fff; }
        }
        .user .btnUser {
          &:before, &:after { border-color:#fff; }
        }
      }
    }
  }
  #header .inner { display:flex; position:relative; width:100%; max-width:1444px; margin:0 auto; padding:0 80px 0 20px; box-sizing:border-box; }
  #header .logo { width:171px; height:20px; margin:24px 32px 0 0; font-size:14px;
    a { display:block; height:20px; }
    svg { width:100%; height:100%; }
  }
  #header .navigation { display:flex; flex:1; flex-direction:row-reverse; }
  #header .nav { display:flex; flex:1; margin-right:auto;
    .menu { margin:20px 0 0;
      > li { position:relative; display:inline-block; margin:0 14px 0 0; font-size:14px; vertical-align:top;
        &.curation { margin-left:14px;

        }
        &:hover {
          > a { color:#0055fb; }
          &:after { content:""; position:absolute; left:0; bottom:0; display:block; width:100%; height:3px; background:#0055fb; }
        }
        > a { position:relative; display:block; padding:3px 12px 20px; color:#000; font-weight:bold; font-size:16px; text-decoration:none;
          &.curation {
            &:before { content:""; position:absolute; top:9px; left:-14px; display:inline-block; width:1px; height:16px; background:#e5e5e5; }
          }
         }
       }
     }
   }

  #header .nav .menuContent { opacity:0; height:0; overflow:hidden; position:absolute; top:47px; left:-38px; display:flex; background:#fff; white-space:nowrap; border-radius:2px;
    .shotcut { display:block; margin:0 0 34px; font-size:20px; text-decoration:none;
      .icoArrow { margin:2px 0 0 7px; @include icoArrow('right', 8px, 16px, 2px, #000, inline-block); }
      &:hover { color:#0055fb;
        .icoArrow:before { border-color:#0055fb; }
      }

     }
    .subMenu { display:inline-block; min-width:152px; padding:34px 24px 20px 36px; box-sizing:border-box;
      &.curation { position:relative; z-index:1; min-width:200px; padding-top:97px; background:#fafafa;
        &:before { display:block; width:100%; height:100%; position:absolute; top:-100%; bottom:0; left:0; right:0; z-index:-1; background:#fafafa; }
      }
      .menuTitle { display:block; margin:0 0 15px; font-size:13px; color:#959595; font-weight:400; }
      .menuInner { display:flex; }
      .list.half { flex:1;
        li { min-width:144px; }
      }
    }
    .list li { display:block; margin:0 4px 12px 0;
      > a { display:block; padding:0 12px 0 0; box-sizing:border-box; text-decoration:none;
        &:hover { color:#0055fb; }
      }
     }
  }
  #header .nav .menu > li:hover .menuContent { opacity:1; height:auto; overflow:visible; border:1px solid #ddd;
    &:before { display:block; position:absolute; top:-22px; height:40px; width:100%; }
  }
  #header { display:flex; margin:0 0 0 auto; font-size:14px; box-sizing:border-box; border-bottom:1px solid #ececec;
    .story { position:relative; height:68px; line-height:68px; margin-left:auto; font-size:15px; color:#5b5b5b; font-weight:500; text-decoration:none; }
    .story:hover { color:#0055fb;
      &:after { content:""; position:absolute; bottom:0; display:block; width:100%; height:3px; background:#0055fb; }
     }
  }
  #header .user { position:relative; display:inline-block; margin:22px 0 0 30px;
    .btnLogin { display:inline-block; font-size:15px; color:#5b5b5b; font-weight:500;
      &:hover { color:#0055fb; text-decoration:none; }
     }
    .btnUser { @include blind(); position:relative; width:16px; height:16px; }
    .btnUser:before { content:""; position:absolute; top:0; left:3px; display:inline-block; width:11px; height:11px; border:2px solid #5b5b5b; border-radius:50%; box-sizing:border-box; }
    .btnUser:after { @extend .btnUser:before; top:9px; left:1px; width:15px; height:16px; }
  }
  #header .layer { opacity:0; height:0; z-index:1; position:absolute; right:-23px; top:34px; min-width:200px; padding:19px; border:1px solid #e8e8e8; box-sizing:border-box; background:#fff; border-radius:3px;  transition:.2s ease-out;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.08);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.08);

    &:before { content:""; position:absolute; top:-8px; right:23px; width:0; height:0; border-style:solid; border-width:0 6px 8px 6px; border-color:transparent transparent #e8e8e8 transparent; }
    &:after { content:""; position:absolute; top:-7px; right:24px; width:0; height:0; border-style:solid; border-width:0 5px 7px 5px; border-color:transparent transparent #fff transparent; }

    .info {
      &:before { content:""; position:absolute; top:19px; right:19px; display:block; width:40px; height:40px; background:url('../images/ico_user.png'); background-size:40px auto; }
      .id { @include ellipsis(100px, inline-block); }
      .btnLogout { display:block; margin:8px 0 0; font-size:12px; color:#959595; }
     }
    .my { display:flex; margin:18px 0 0; padding:18px 0 0; border-top:1px solid #e8e8e8;
      .detail { width:80px; }
      .count { display:block; margin:0 0 6px; color:#0055fb; font-size:18px; }
      .label { font-size:13px; color:#959595; }
     }
   }
  #header .user.selected .layer { opacity:1; height:auto; }
  #header .search { transition:.2s ease-out;
    .btnSearch { @include blind(); position:absolute; width:24px; height:24px; margin:22px 0 0 30px;
      &:before { content:""; position:absolute; top:4px; left:4px; display:block; width:14px; height:14px; border:2px solid #5b5b5b; border-radius:50%; box-sizing:border-box; }
      &:after { content:""; position:absolute; top:15px; left:15px; display:block; width:2px; height:5px; box-sizing:border-box; background:#5b5b5b; transform:rotate(-45deg); }
    }
    .searchWrap { height:0; border-bottom:1px solid #ebebeb; }
    .searchField { display:none; position:relative; width:660px; margin:0 auto; transition:.2s ease-out;
      .select { width:100px; height:40px; vertical-align:top; border-radius:2px; }
      .searchForm { position:relative; display:inline-block; margin:0 0 0 6px; vertical-align:top;
          &:before { content:""; position:absolute; top:12px; left:12px; display:block; width:14px; height:14px; border:2px solid #959595; border-radius:50%; box-sizing:border-box; }
          &:after { content:""; position:absolute; top:23px; left:23px; display:block; width:2px; height:5px; box-sizing:border-box; background:#959595; transform:rotate(-45deg); }
        input { width:512px; height:40px; padding:0 36px; line-height:40px; box-sizing:border-box; border:0; background:#f5f5f5; border-radius:2px; }
        .result { display:none; width:512px; margin:13px 0 0; padding:28px; box-sizing:border-box; border:1px solid #ececec; background:#fff; border-radius:0 0 2px 2px;
          .title { display:block; margin:28px 0 16px; font-weight:400; font-size:13px; color:#959595;
            &:first-child { margin-top:0; }
          }
          .value { font-size:15px; font-weight:500; color:#000; }
          .value + .value { margin-left:30px; }
        }
      }
      .searchForm.selected .result { display:block; }
      .btnClose { @include blind(); position:absolute; top:9px; right:0; display:inline-block; width:23px; height:23px;
        &:before,
        &:after { content:""; display:block; position:absolute; top:10px; left:0; width:22px; height:2px; }
        &:before { background:#5e5e5e; transform:rotate(-315deg); }
        &:after { background:#5e5e5e; transform:rotate(-45deg); }
      }
    }
    &.active { position:fixed; top:0; left:0; right:0; z-index:100; height:68px;
      .searchWrap { width:100%; height:100%; padding:14px 0 0; box-sizing:border-box; border-bottom:1px solid #ebebeb; background:#fff; transition:.2s ease-out;
        &:before { content:""; display:block; position:fixed; top:0; bottom:0; left:0; right:0; z-index:-1; background:rgba(0,0,0,0.3); }
      }
      .searchField { display:block; }
      .btnSearch { opacity:0; }
    }
   }

  #header .btnFold, #header .btnFoldLayout { display:none; }

  #contents { min-height:700px; padding:68px 0 0; box-sizing:border-box; }
  .gInner { max-width:1444px; margin:0 auto; padding-left:20px; padding-right:20px; box-sizing:border-box; }

  #footer { position:relative; padding:0; border-top:1px solid #e8e8e8; height:auto; line-height:1; background:#fff; }
  #footer .top { display:flex; width:100%; max-width:1404px; margin:0 auto; padding:60px 0 60px; font-size:0;
    .logo { width:157px; height:19px;
      svg { width:100%; height:100%; }
    }
  }
  #footer .menu { display:inline-block; margin:0 0 0 20px; padding:0 65px 0 0; vertical-align:top; box-sizing:border-box; }
  #footer .menu:first-child { margin:0; }
  #footer .menu .title { font-size:12px; }
  #footer .menu .link { margin:20px 0 0; font-size:14px; line-height:1; }
  #footer .menu .link[target="_blank"] { position:relative; }
  #footer .menu .link[target="_blank"]:after { content:""; display:inline-block; width:12px; height:12px; margin:0 0 0 12px; background:url("//img.echosting.cafe24.com/api/app/sfix_layout.png") no-repeat -75px 0; }
  #footer .bottom { position:relative; max-width:1404px; margin:0 auto; padding:31px 0 40px; }
  #footer .bottom:after { @include clearfix(); }
  #footer .policy { float:right; }
  #footer .policy a { display:inline-block; margin:0 30px 0 0; font-size:12px; color:#b8b8b8; }
  #footer .policy a strong { color:#333; font-weight:normal; }
  #footer .corp { align-items:start; width:360px; }
  #footer .corp .logo { height:21px; }

  #footer .corp .familysite { position:relative; width:128px; margin:12px 0 0; }
  #footer .corp .familysite .button { position:relative; width:100%; padding:4px 8px 3px; font-size:12px; line-height:1; font-weight:500; color:#333; text-align:left; box-sizing:border-box;}
  #footer .corp .familysite .button:after { content:""; display:inline-block; top:5px; right:6px; height:0; width:0; margin:0 0 0 12px; border:4px transparent solid; border-right-width:0; border-left-color:#333;
    -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -ms-transform:rotate(90deg); transform:rotate(90deg);
    -webkit-transition:.2s ease-out; transition:.2s ease-out; }
  #footer .corp .familysite {
    .site { overflow:hidden; visibility:hidden; z-index:2; position:absolute; bottom:19px;width:100%; padding:4px 2px; border:1px solid #bdbdbd; height:0; box-sizing:border-box; background:#fff;-webkit-transition:.2s ease-out; transition:.2s ease-out; }
  }
  #footer .corp .familysite .site a { display:block; padding:3px 6px 2px; font-size:11px; line-height:1; color:#7d7d7d; font-family:dotum, "돋움", sans-serif; }
  #footer .corp .familysite .site a:hover { position:relative; color:#fff; background:#11213b; }
  #footer .corp .familysite .site a:hover:before,
  #footer .corp .familysite .site a:hover:after { content:""; position:absolute; top:6px; right:6px; display:block; width:3px; height:3px; border-left:1px solid #fff; border-bottom:1px solid #fff; -webkit-transform:rotate(-135deg); transform:rotate(-135deg); }
  #footer .corp .familysite .site .line { margin:3px 0 0; padding:4px 0 0; border-top:1px solid #ebebeb; }
  #footer .corp .familysite.selected .button:after { -webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -ms-transform:rotate(-90deg); transform:rotate(-90deg); }
  #footer .corp .familysite.selected .site { visibility:visible; height:60px; }
  #footer .copyright { margin:17px 0 0; font-size:12px; color:#b8b8b8; }
  #footer .btnTop { z-index:1; position:absolute; top:32px; right:50%; width:72px; height:72px; margin-right:-48%; padding:42px 0 0; font-size:12px; text-align:center; color:#000; text-decoration:none; box-sizing:border-box; text-transform:uppercase; background:#fff; border:1px solid #e8e8e8;
      &:before { content:""; position:absolute; top:22px; left:31px; display:block; margin:0 auto 5px;width:6px; height:6px; border:2px solid #000; border-width:2px 0 0 2px; vertical-align:middle;
        -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg);
      }
      &:after { content:""; position:absolute; top:23px; left:34px; display:block; width:2px; height:10px; background:#000; }
   }
}