
@mixin languages() {
  @each $type, $font-family in $global-font-family {
    [lang="#{$type}"] {
      font-family: $font-family;
    }

    html:lang(#{$type}) {
      input,
      select,
      textarea,
      button { font-family:$font-family; }
    }
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: 767px) {
      @content;
    }
  }

  @else if $breakpoint == "mobile-tablet" {
    @media (max-width:1079px)  {
      @content;
    }
  }

  @else if $breakpoint == "tablet" {
    @media (min-width: 768px) and (max-width:1079px)  {
      @content;
    }
  }

  @else if $breakpoint == "tablet-pc" {
    @media (min-width: 768px) {
      @content;
    }
  }

  @else if $breakpoint == "pc" {
    @media (min-width: 1080px) {
      @content;
    }
  }
}

@mixin square($size : auto, $radius: 0) {
  width: $size;
  height: $size;
  border: 1px solid pink;
  text-align: center;

  @if $radius != 0 {
    border-radius: $radius;
  }
}

@mixin flex() {
  display:flex;
  align-items:center;
  justify-content:center;
}

@mixin clearfix() {
  content:"";
  display:block;
  clear:both;
}
