@mixin languages() {
  @each $type, $font-family in $global-font-family {
    [lang="#{$type}"] {
      font-family: $font-family;
    }

    html:lang(#{$type}) {
      input,
      select,
      textarea,
      button { font-family:$font-family; }
    }
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: 767px) {
      @content;
    }
  }

  @else if $breakpoint == "mobile-tablet" {
    @media (max-width:1079px)  {
      @content;
    }
  }

  @else if $breakpoint == "tablet" {
    @media (min-width: 768px) and (max-width:1079px)  {
      @content;
    }
  }

  @else if $breakpoint == "tablet-pc" {
    @media (min-width: 768px) {
      @content;
    }
  }

  @else if $breakpoint == "pc" {
    @media (min-width: 1080px) {
      @content;
    }
  }
}

@mixin blind { overflow: hidden; text-indent:150%; white-space:nowrap; font-size:1px; line-height:0; color:transparent; }

@mixin ellipsis($width: 100%,  $display: inline-block) { display: $display; max-width: $width; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; }

@mixin flex($justify: center, $align: center, $wrap: wrap, $dir: row, ) { display:flex; justify-content:$justify; align-items:$align; flex-wrap:$wrap; flex-direction:$dir; }

@mixin clearfix() { content:''; display:block; clear:both; }

@mixin text-ellipsis($lineHeight, $line) {
  overflow:hidden; width:100%; text-overflow:ellipsis; text-align:left;

  @if $line >= 2 {
    display:-webkit-box; height:#{$lineHeight * $line + 'px'}; max-height:#{$lineHeight * $line + 'px'}; line-height:#{$lineHeight + 'px'}; -webkit-line-clamp:$line; -webkit-box-orient: vertical;
  } @else {
    display:block; white-space:nowrap; word-break:break-word;
  }
}

@mixin item($types) {
  .item {
    overflow:hidden; width:326px; margin:0 17px; border:1px solid #eaeaea; border-radius:4px; transition:all .3s ease;

    &:hover {
      box-shadow:0 30px 30px 0 rgba(92, 95, 101, .2);
    }

    .image {
      position:relative;

      &:after {
        content:''; display:block; position:absolute; left:0; bottom:0; right:0; width:100%; height:1px; background:rgba(0, 0, 0, 0.03);
      }
    }

     @if $types == 'app' {
      .inner {
        height:226px; padding:30px 20px; box-sizing:border-box; text-align:left;

        .title {
          margin:0 0 3px; font-size:20px; font-weight:500;
        }

        .subTitle {
          display:block; margin:0 0 7px; font-size:13px; color:#758ea6;
        }

        .price {
          display:block; margin:0 0 20px; font-size:14px; color:#797980;
        }

        .description {
          font-size:14px; color:#797980; line-height:21px;
        }
      }
     } @else {
      .inner {
        height:136px; padding:30px 20px; box-sizing:border-box; text-align:left;

        .title {
          display:block; margin:0 0 3px; font-size:20px; font-weight:500; line-height:1;
        }

        .subTitle {
          display:block; margin:0 0 21px; font-size:13px; color:#5398f5;
        }

        .price {
          display:block; font-size:14px; color:#797980;
        }

        .btnSample {
          overflow:hidden; display:block; position:absolute; right:16px; bottom:16px; width:100px; height:36px; padding:11px; box-sizing:border-box; background:#eff7ff; border-radius:4px; font-size:13px; color:#108af9; text-align:center; line-height:0;

          transition:all 0.3s ease;

          &:hover {
            background:#0055fb; color:#fff;
          }
        }
      }
    }
  }
}

@mixin icoArrow($direction: 'top', $width: 20px, $height: 10px, $thick: 1px, $color: #000, $display: inline-block, $position: relative) {
  $sqrt: 1.41421356237;

  display:$display; position:$position; width:$width; height:$height;

  @if ($direction == 'top' or $direction == 'bottom') {
    $size:floor(($width / $sqrt) - (2 * $thick));
    $rate:2 * $height / $width;
    $margin-top:round($rate * $size / (2 * $sqrt));

    &:before { content:''; position:absolute; top:50%; left:50%; width:$size; height:$size;
      @if ($rate == 1) {
        transform:translate(-50%, -50%) rotate(45deg);
      } @else {
        transform:translate(-50%, -50%) scale(1, $rate) rotate(45deg);
      }

      @if ($direction == 'top') {
        margin-top:$margin-top; border-top:$thick solid $color; border-left:$thick solid $color;
      } @else if ($direction == 'bottom') {
        margin-top:- $margin-top; border-right:$thick solid $color; border-bottom:$thick solid $color;
      }
    }
  } @else if ($direction == 'left' or $direction == 'right') {
    $size:floor(($height / $sqrt) - (2 * $thick));
    $rate:2 * $width / $height;
    $margin-left:round($rate * $size / (2 * $sqrt));

    &:before { content:''; position:absolute; top:50%; left:50%; width:$size; height:$size;
      @if ($rate == 1) {
        transform:translate(-50%, -50%) rotate(45deg);
      } @else {
        transform:translate(-50%, -50%) scale($rate, 1) rotate(45deg);
      }

      @if ($direction == 'left') {
        margin-left:$margin-left; border-left:$thick solid $color; border-bottom:$thick solid $color;
      } @else if ($direction == 'right') {
        margin-left:- $margin-left; border-top:$thick solid $color; border-right:$thick solid $color;
      }
    }
  }
}

@mixin resCenter($width : 1406px) {
  position:relative; width:$width; left:50%; transform:translateX(-50%);
}