@include respond(mobile) {

}

@include respond(mobile-tablet) {

}

@include respond(tablet) {

}

@include respond(tablet-pc) {

}

@include respond(pc) {
  section {
    &.bestTheme { }
    &.newTheme { }
    &.combineTheme { margin:0 auto 92px; padding:28px 0 100px; background:#f2f2f2;
      .combineWrap { position:relative; width:1404px; margin:0 auto;
        .combinePCFrame { overflow:hidden; position:absolute; left:0; top:-1px; right:0; z-index:10; width:1080px; height:24px; margin:0 auto; border:1px solid #e6e6e6; border-radius:6px 6px 0 0; background:url('#{$src}/combine_pc_frame.jpg') no-repeat top center; background-size:100% auto; }
        .combineMobileFrame { overflow:hidden; position:absolute; right:102px; bottom:-18px; z-index:10; width:284px; height:494px; border-radius:27px; background:#f6f7fb url('#{$src}/combine_mobile_frame.png') no-repeat center center; background-size:100%; box-shadow:0 40px 80px 0 rgba(0, 0, 0, 0.2); }
      }
      .combineDetail { padding:55px 0 0; text-align:center;
        .btnDetail { padding:12px 65px; border:1px solid #d8d8d9; border-radius:4px; font-size:14px; color:#7b7b7b; text-align:center; line-height:1; }
      }
    }
    &.mobileTheme { margin:0 auto 92px; padding:28px 0 8px; background:#f5f5f5; }
    &.freeTheme { }
    &.choseTheme { }
    &.themeCate {
      .subCategory { border-top:0; }
    }
  }
}
