@include respond(mobile) {
  section {
    &.appListArea { margin-bottom:10px; border-bottom:1px solid #e8e8e8; background:#fff; }
    &.mainStoryArea { margin-bottom:10px; border-bottom:1px solid #e8e8e8; background:#fff; }
    &.cateArea { margin-bottom:10px; border-bottom:1px solid #e8e8e8; background:#fff; }
    &.partnerArea { margin-bottom:10px; border-bottom:1px solid #e8e8e8; background:#fff; }
    &.shopMakingArea { padding-bottom:10px; }
    &.newAppArea { margin-bottom:10px; border-bottom:1px solid #e8e8e8;  background:#fff; }
    &.makeAppArea { display:none; }
    &.bestThemeArea { margin-bottom:10px; border-bottom:1px solid #e8e8e8; background:#fff; }
    &.newThemeArea { margin-bottom:10px; background:#fff; border-bottom:1px solid #e8e8e8; }
    &.combineThemeArea { background:#f2f2f2; }
    &.freeThemeArea { background:#fff; }
    &.mobileThemeArea { padding:0 0 0 0; }
    &.choseThemeArea { background:#fff; margin-bottom:10px; border-bottom:1px solid #e8e8e8; }
    &.minimalThemeArea { background:#fff; margin-bottom:10px; border-bottom:1px solid #e8e8e8; }
    &.themeCate {
      .subCategory { border-top:0; }
    }
  }
}

@include respond(tablet-pc) {
  section {
    &.makeAppArea { margin:60px 0 0; padding:140px 20px; background:#f2f2f2; }
    &.combineThemeArea { margin-bottom:92px; padding:0 20px; background:#f2f2f2; }
    &.mobileThemeArea { margin-bottom:92px; background:#f5f5f5; }
  }
}

@include respond(tablet) {
  section {
    &.makeAppArea { margin:45px 0 0; padding:105px 20px; background:#f2f2f2; }
    &.combineThemeArea { margin-bottom:69px; padding:0 20px; background:#f2f2f2; }
    &.mobileThemeArea { margin-bottom:69px; background:#f5f5f5; }
  }
}
