extends /layouts/layout
include /components/common/mTitle
include /components/common/mTab
include /components/common/mPagination
include /components/slider
include /components/faqAll
include /components/sortList

block append contents

  section.faqTopArea
    +mTitle('typeSub', 'Top6 FAQ')

    div.faqTop
      div.heading
        strong.title 앱

      - var faqApp = 'faqApp';
      - var faqAppData = require('./src/js/data/faqApp.js');
      +slider(faqApp, faqAppData, 'typeColumn', 'faq', false, false)

    div.faqTop
      div.heading
        strong.title 테마

      - var faqTheme = 'faqTheme';
      - var faqThemeData = require('./src/js/data/faqTheme.js');
      +slider(faqTheme, faqThemeData, 'typeColumn', 'faq', false, false)

  section.faqAllArea
    +mTitle('typeSub', '전체 FAQ')
    div.gInner
      +sortList('전체', '앱','테마')
      +faqAll()
      +mPagination('typeMore')

block append body
  script(src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js")
  script(src="/js/ui/faq.js")