extends /layouts/layout
include /components/common/mTitle
include /components/common/mEmpty
include /components/searchHead
include /components/stateBar
include /components/filter

block append contents
  +searchHead('typeApp', '앱','배너', '마케팅', '고객지원', '유료', '브론즈')

  section.searchArea.gridSet
    - var filterThemeData = require('./src/js/data/filterTheme.js');
    div.wFilter
      div.filterWrap
        +filter(filterThemeData)

    - var searchThemeData = require('./src/js/data/searchTheme.js');
    div.wFilterResult
      +stateBar(false)
      +mEmpty('typeCategory')

block append body
  script(src="/js/ui/search.js")
