extends /layouts/layout
include /components/common/mTitle
include /components/common/mEmpty
include /components/common/mPagination
include /components/searchHead
include /components/applist
include /components/stateBar
include /components/filter
include /components/list

block append contents

    section.searchHeadArea
        div.gInner
            +searchHead('typeTheme','테마', false, '배너', '마케팅', '고객지원', '유료', '브론즈')

    section.categoryArea
        div.gInner
            div.gridSet
                - var filterThemeData = require('./src/js/data/filterTheme.js');
                    div.wFilter
                        div.filterWrap
                            +filter(filterThemeData)

                - var searchThemeData = require('./src/js/data/searchTheme.js');
                    div.wFilterResult
                        +stateBar(false)
                        +list(searchThemeData, 'typeTheme')
                        +mPagination('typeMore', false)

block append body
    script(src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js")
    script(src="/js/ui/app.js")
