mixin mEmpty(types)
  div(class=`mEmpty ${types}`)
    case types
      when 'typeReview'
        p.desc 작성된 리뷰가 없습니다.
      when 'typeCategory'
        p.desc 정확히 일치하는 상품이 없습니다. <br class="RW RMB"> 검색 조건을 다시 설정해 주세요
      when 'typeSearch'
        p.search
          strong.value '가나다라마'
          | 일치하는 결과를 찾을 수 없습니다.
        div.empty
          img(src="/images/img_empty.png" alt="검색결과없음")
        p.desc 찾으려는 상품이 없으신가요? <br> 아래의 스토어 추천 상품을 확인해 보세요!
      when 'typeInquiry'
        p.desc 문의내역이 없습니다.
