mixin mPagination(types, typeDevice, maxLength)
  div(class=`mPagination ${types + ' ' + typeDevice}`)
    case types
      when 'typeMore'
        button.btnMore 더보기
          span.page (1/2)
          i.icoArrow
      when 'typeList'
        - var number = 1;
        ul
          while number < maxLength
            li
              a(href='#none')= number++
        a.btnLast(href='#none') 마지막 페이지