mixin mPagination(types, maxLength)
  div(class=`mPagination ${types}`)
    case types
      when 'typeMore'
        button.btnMore 더보기
          i.icoArrow
      when 'typeList'
        - var number = 1;
        ul
          while number < maxLength
            li= number++
