mixin mTitle(typeClass, title, desc, btnTxt)
  div(class=`mTitle${!typeClass ? '' : ' '+typeClass}`)
    h3.title !{title}
    if desc
      p.desc !{desc}
    if btnTxt
      a(href="#none" class="btnAll") !{btnTxt}
        i.icoArrow
