extends /layouts/layout
include /components/common/mTitle
include /components/common/mPagination
include /components/applist
include /components/list
include /components/stateBar

block append contents

    +mTitle('typeLeft', '고객관리의 다양한 도구모음','설명')

    +stateBar(false)
    - var curationAppData = require('./src/js/data/curationApp.js');
    +list(curationAppData, 'typeApp')

    +mPagination('typeMore', false)

block append body
    script(src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js")
    script(src="/js/ui/app.js")
