extends /layouts/layout
include /components/common/mTitle
include /components/common/mPagination
include /components/applist
include /components/list
include /components/stateBar

block append contents

    +mTitle('typeSub', '인싸들이 선택한 테마','나의 쇼핑몰 고객에게 인싸가 되는 핫한 디자인을 모았습니다.')
    section.curationArea
        +stateBar(false)
        - var curationThemeData = require('./src/js/data/curationTheme.js');
        +list(curationThemeData, 'typeTheme')
        +mPagination('typeMore', false)
