extends /layouts/layout
include /components/common/mTitle
include /components/slider
include /components/list

block append contents
  - var newApp = 'newApp';
  - var newAppData = require('./src/js/data/newApp.js');

  section.sectionNewApp
    +slider(newApp, newAppData, 'typeApp', 'app', false, true)

block append body
  script(src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js")
  script(src="/js/ui/app.js")
