extends /layouts/layout
include /components/common/mTitle
include /components/slider
include /components/subvisual
include /components/list
include /components/app_simple
include /components/subcategory
include /components/partnermeet

block append contents

  +subVisual('app', 'App', '쇼핑몰 확장을 위한 앱을 설치하세요','상반기 TOP 12','주목할만한 신상 앱', '나도 인플루언서', '핫 썸머! 쿨~한 앱', '재능마켓')

  - var newApp = 'newApp';
  - var newAppData = require('./src/js/data/newApp.js');

  section.sectionNewApp

    +slider(newApp, newAppData, 'typeApp', 'app', false, true)

  section.sectionAppList
    +mTitle(false, '이번주를 뜨겁게 달군 핫한 앱')
    +appSimple('앱 제목1', '마케팅', '1,000円', '/images/@img_app_icon.png')
    +appSimple('앱 제목이 길어지면 이렇게 나옴 길다고 길다고', '마케팅', '10,000円', '/images/@img_app_icon.png')
    +appSimple('앱 제목2', '마케팅', '10,000円', '/images/@img_app_icon.png')
    +appSimple('앱 제목2', '마케팅', '10,000円', '/images/@img_app_icon.png')


  +category('앱 카테고리', 'app')(class="app")

  +partnermeet('뛰어난 품질과 서비스를 제공하는 <br>카페24가 검증한 개발사와 만나보세요', '개발사 보러가기')(class="develop")
  include /components/shopmaking

block append body
  script(src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js")
  script(src="/js/ui/app.js")
