extends /layouts/layout
include /components/common/mTitle
include /components/slider
include /components/list

block append contents
  - var newApp = 'newApp';
  - var newAppData = require('./src/js/data/newApp.js');

  section.sectionNewApp

    +slider(newApp, newAppData, 'typeApp', 'app', false, true)

  - var bestTheme = 'bestTheme';
  - var bestThemeData = require('./src/js/data/bestTheme.js');

  section.sectionBestTheme
    +slider(bestTheme, bestThemeData, 'typeTheme', 'theme', false, true)

  - var newTheme = 'newTheme';
  - var newThemeData = require('./src/js/data/newTheme.js');

  section.sectionNewTheme
    +slider(newTheme, newThemeData, 'typeTheme', 'theme', false, true)

  - var combinePC = 'combinePC';
  - var combinePCData = require('./src/js/data/combinePC.js');
  - var combineMobile = 'combineMobile';
  - var combineMobileData = require('./src/js/data/combineMobile.js');

  section.sectionCombine
    +mTitle(false, 'PC와 Mobile 세트 상품으로 완벽한 쇼핑몰 만들기', '디바이스 사이즈별 최적화된 디자인을 제공합니다.', '세트상품 전체보기')
    div.combineWrap
      +slider(combinePC, combinePCData, 'typeCombinePC', 'image', false, true)
      div.combinePCFrame
      +slider(combineMobile, combineMobileData, 'typeCombineMobile', 'image', false, false)
      div.combineMobileFrame

  - var mobileTheme = 'mobileTheme';
  - var mobileThemeData = require('./src/js/data/mobileTheme.js');

  section.sectionMobileTheme
    +slider(mobileTheme, mobileThemeData, 'typeZigzag', 'image', false, true)

  - var freeTheme = 'freeTheme';
  - var freeThemeData = require('./src/js/data/freeTheme.js');

  section.sectionFreeTheme
    +list(freeTheme, freeThemeData, 'typeTheme')


block append body
  script(src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js")
  script(src="/js/ui/app.js")
