mixin appSimple(title, category, price, img)
    div.mAppList.typeSimple&attributes(attributes)
        div.thumbnail
            img(src=img, alt='')
        div.infomation
            strong.title= title
            span.category= category
            strong.price= price