mixin faqAll()
    div.faqArea
        ul.faqList.typeAll.eAccordion
            li.faq.selected
                div.head
                    span.number 1
                    span.category 앱
                    strong.title 문의유형 · 파트너 센터에서 설정된 자주묻는 질문을 표시합니다
                    button(type='button').btnFold.selected 열기
                        span.icoArrow
                div.content
                    |아코디언 열렸을 경우 표시되는 가이드 영역 입니다.
                    br
                    |해당 앱 관련 자주묻는 질문을 표시합니다. 해당 앱 관련 자주묻는 질문을 표시합니다.
            li.faq
                div.head
                    span.number 2
                    span.category 앱
                    strong.title 문의유형 · 파트너 센터에서 설정된 자주묻는 질문을 표시합니다
                    button(type='button').btnFold 열기
                        span.icoArrow
                div.content
                    | 아코디언 열렸을 경우 표시되는 가이드 영역 입니다.
                    br
                    | 해당 앱 관련 자주묻는 질문을 표시합니다. 해당 앱 관련 자주묻는 질문을 표시합니다.
            li.faq
                div.head
                    span.number 3
                    span.category 테마
                    strong.title 문의유형 · 파트너 센터에서 설정된 자주묻는 질문을 표시합니다
                    button(type='button').btnFold 열기
                        span.icoArrow
                div.content
                    | 아코디언 열렸을 경우 표시되는 가이드 영역 입니다.
                    br
                    | 해당 앱 관련 자주묻는 질문을 표시합니다. 해당 앱 관련 자주묻는 질문을 표시합니다.