mixin faqAll()
    ul.faqList.typeAll.eAccordion
        li.faq.selected
            div.head
                span.number 1
                span.category 앱
                strong.title 앱 구입/삭제/관리·(구)디자인관리 모드를 사용 중입니다. 앱스토어를 사용
                button(type='button').btnFold.selected 열기
                    span.icoArrow
            div.content
                |아코디언 열렸을 경우 표시되는 가이드 영역 입니다.
                br
                |해당 앱 관련 자주묻는 질문을 표시합니다. 해당 앱 관련 자주묻는 질문을 표시합니다.
        li.faq
            div.head
                span.number 2
                span.category 앱
                strong.title 앱 구입/삭제/관리·사용하지 않는 앱을 제거하고 싶어요
                button(type='button').btnFold 열기
                    span.icoArrow
            div.content
                | 아코디언 열렸을 경우 표시되는 가이드 영역 입니다.
                br
                | 해당 앱 관련 자주묻는 질문을 표시합니다. 해당 앱 관련 자주묻는 질문을 표시합니다.
        li.faq
            div.head
                span.number 3
                span.category 테마
                strong.title 문의/리뷰·디자인의 리뷰, 평점 작성은 어디서 하나요?
                button(type='button').btnFold 열기
                    span.icoArrow
            div.content
                | 아코디언 열렸을 경우 표시되는 가이드 영역 입니다.
                br
                | 해당 앱 관련 자주묻는 질문을 표시합니다. 해당 앱 관련 자주묻는 질문을 표시합니다.
        li.faq
            div.head
                span.number 4
                span.category 테마
                strong.title 앱 구입/삭제/관리·사용하지 않는 앱을 제거하고 싶어요
                button(type='button').btnFold 열기
                    span.icoArrow
            div.content
                | 아코디언 열렸을 경우 표시되는 가이드 영역 입니다.
                br
                | 해당 앱 관련 자주묻는 질문을 표시합니다. 해당 앱 관련 자주묻는 질문을 표시합니다.
        li.faq
            div.head
                span.number 5
                span.category 테마
                strong.title 앱 구입/삭제/관리·사용하지 않는 앱을 제거하고 싶어요
                button(type='button').btnFold 열기
                    span.icoArrow
            div.content
                | 아코디언 열렸을 경우 표시되는 가이드 영역 입니다.
                br
                | 해당 앱 관련 자주묻는 질문을 표시합니다. 해당 앱 관련 자주묻는 질문을 표시합니다.