div.mainVisual
    h2.title
        | 쇼핑몰을 완성하는
        br.RMB
        |모든 과정을
        br
        | 스토어와 함께하세요
    div.button
        a.btnAppDirect(href="") 앱 바로가기
        a.btnThemeDirect(href="") 테마 바로가기