mixin partnerList(typeClass)
    div.partnerList(class=`${typeClass}`)
        case typeClass
            when 'typeApp'
                - for (var i = 0; i < 8; i++)
                    div.item
                        div.information
                            span.logo
                                img(src="/images/app_partner_logo.jpg", alt="")
                            strong.title
                                a(href="#none") 마켓잇 Marketit
                            dl.info
                                dt 웹사이트
                                dd
                                    a(href="#none", target="_blank").outLink http://www.homepage.co.kr
                                dt 대표테마
                                dd 상품명 입력공간 최대 열여섯자까지 노출
                        div.thumbnail
                            a(href="#none")
                                img(src="/images/img_640_360.jpg", alt="")
            when 'typeTheme'
                - for (var x = 0; x < 8; x++)
                    div.item
                        div.information
                            span.logo
                                img(src="/images/theme_partner_logo.jpg", alt="")
                            strong.title
                                a(href="#none") One Design
                            dl.info
                                dt 웹사이트
                                dd
                                    a(href="#none", target="_blank").outLink http://www.homepage.co.kr
                                dt 대표테마
                                dd 테마명입력공간최대열여섯자까지
                        div.thumbnail
                            a(href="#none")
                                img(src="/images/img_1280_1600.jpg", alt="")