mixin partnermeet(title, button)
    div.partnerMeet&attributes(attributes)
        div.heading
            span.label Who it Makes
            h3.title !{title}
        div.button
            a.btnDevelop(href="") #{button}

