mixin productPrice()
    div.productPrice
        p.infoDesc 최초설치 시 00일간 무료 사용 가능
        div.priceList
            div.item
                span.option Basic
                div.info
                    strong.price 40,000円
                    span.desc (세금포함)/1개월
            div.item
                span.option Basic
                div.info
                    strong.price 40,000円
                    span.desc (세금포함)/1개월
            div.item
                span.option Basic
                div.info
                    strong.price 40,000円
                    span.desc (세금포함)/1개월