include /components/grade
include /components/sortList

mixin productReview()
  div.reviewWrap
    div.head
      div.score
        span.average 0.0
        span.outOf 5.0
      span.review
        a(href="#none")
          span.count 53
          | 개의 리뷰
      div.btnWrap
        button(type="button" data-layer="#layerQuestion").btnLight.eShowLayer 파트너사 문의하기
        // 리뷰 쓰기 레이어 팝업
        button(type="button" data-layer="#layerReview").btnDark.eShowLayer 리뷰쓰기
        // 비구매회원 리뷰작성 안내 레이어 팝업
        //- button(type="button" data-layer="#mLayerAlert").btnDark.eShowLayer 리뷰쓰기
    div.content
      div.reviewArea.typeBest
        div.gridSet
          div.reviewInfo
            +grade(5)
            strong.author 작성자
            span.date 2019년 8월 23일 09:30
          div.reviewText
            div.text
              | 채널톡 사용 후 고객문의가 너무 편리해졌습니다. <br>
              | 고객들이 번거롭게 인증절차 없이 바로 상담이 가능해서 업무 효율이 많이 좋아졌습니다~! <br>
              | 베스트 리뷰를 등록한 경우 나타나는 영...
              button(type="button").btnMoreView 더보기
          div.recommend
            button(type="button").btnThumbsUp.active 9999+
      +sortList('최신순', '높은 평가순','낮은 평가순')
      div.reviewArea
        ul.reviewList
          li
            div.gridSet
              div.reviewInfo
                +grade(3)
                strong.author 작성자
                span.date 2019년 8월 23일 09:30
              div.reviewText
                div.text
                  | 채널톡 사용 후 고객문의가 너무 편리해졌습니다. <br>
                  | 고객들이 번거롭게 인증절차 없이 바로 상담이 가능해서 업무 효율이 많이 좋아졌습니다~! <br>
                  | 베스트 리뷰를 등록한 경우 나타나는 영...
                  button(type="button").btnMoreView 더보기
              div.recommend
                button(type="button").btnThumbsUp 1
            div.comment
              div.commentText
                div.text
                  | 안녕하세요. 셀러허브 운영팀입니다. <br>
                  | 현재 작성해 주신 리뷰 내용에 대하여 다음과 같이 의견을 드립니다. <br>
                  | 파트너사가 댓글을 입력한 경우 예시, 세줄이상일 경우 마찬가지로 더보기 버튼 노출됩니다 ...
                  button(type="button").btnMoreView 더보기
              div.commentInfo
                strong.admin 관리자
                span.date 2019년 8월 23일 09:31
          li
            div.gridSet
              div.reviewInfo
                +grade(5)
                strong.author 작성자
                span.date 2019년 8월 23일 09:30
              div.reviewText
                div.text
                  | 채널톡 사용 후 고객문의가 너무 편리해졌습니다. <br>
                  | 고객들이 번거롭게 인증절차 없이 바로 상담이 가능해서 업무 효율이 많이 좋아졌습니다~! <br>
                  | 베스트 리뷰를 등록한 경우 나타나는 영...
                  button(type="button").btnMoreView 더보기
              div.recommend
                button(type="button").btnThumbsUp.active 10
          li
            div.gridSet
              div.reviewInfo
                strong.author 작성자
                span.date 2019년 8월 23일 09:30
              div.reviewText
                div.text
                  | 해당 글은 문의성 글로 판단하여 개발사에 의해 (2019년 05월 29일)에 문의내역으로 이관되었습니다. <br>
                  a(href="#none").txtEm 나의 문의내역
                  | 에서 답변을 확인하실 수 있습니다.
        button(type="button").btnMoreReview 리뷰 더보기