mixin productKeyword()
    div.productKeyword
        div.keyword
            each keyword in ['배송편의', '관련태그', '운영편의', '검색호버시', '인스타그램', '연관검색어', '연관검색어', '연관검색어', '연관검색어', '연관검색어', '고객관리유지툴', '최대 10개의 연관검색어', '검색어 길어지면 이렇게됨']
                a(href='#none').btnKeyword #{keyword}