mixin productMerit()
    div.productMerit
        div.heading
            h3.title 상품상세설명 메인타이틀1 입력값 최소 1byte, 최대 100byte 한글 50자 자사몰 운영만으로는 매출 증대에 고민이 많으시죠?
            p.desc 메인타이틀2 최소 1byte, 최대 100byte 한글기준 50자 상품 서브 타이틀 최소 1byte, 최대 100byte
        ul.merit
            li
                span.number 01
                p.desc 상품의 핵심 포인트 최소 3개, 최대 5개 노출 최소 1byte, 최대 100byte (한글 50자) 한줄로 최대글자 모두 적용됨
            li
                span.number 02
                p.desc 상품을 설명할 수 있는 포인트를 간결하게 50자 이내로 작성하여 알기 쉽게 설명!
            li
                span.number 03
                p.desc 핵심포인트 3개에서 5개까지 노출 가능!
            li
                span.number 04
                p.desc 리뷰를 효과적으로 관리할 수 있는 관리자 시스템을 통해 인력 및 관리 시간이 대폭 감소합니다.
            li
                span.number 05
                p.desc 쇼핑몰과 잘 어울리는 최적의 리뷰 레이아웃을 제공하여 고객의 만족도가 증가합니다.