mixin productInfoPrice(types, title)
  div.infoPrice
    strong.price 25,000원
      span.desc (세금포함) ~
    case types
      when 'app'
          p.desc.typeApp
            | 최초 설치 시
            span.count 00
            | 일간 무료 사용가능
            button(type="button").btnNormal.small 가격옵션
          div.btnWrap
            button(type="button").btnEm.large 샘플보기
            button(type="submit" data-layer="#layerInstall").btnSubmit.large.eShowLayer 설치하기
      when 'theme'
          p.desc.typeTheme
            | 이 상품은
            span.txtWarn PC와 Mobile 테마를 모두 제공
            | 하는 세트형 테마입니다.
          div.btnWrap
            button(type="button").btnEm.large 샘플보기
            button(type="submit" data-layer="#layerInstall").btnSubmit.large.eShowLayer 구매하기
