mixin productPrice()
    div.productPrice
        div.priceList
            div.item
                span.option Basic
                div.info
                    strong.price 40,000円
                    span.desc (세금포함)/1개월
            div.item
                span.option Basic
                div.info
                    strong.price 40,000円
                    span.desc (세금포함)/1개월
            div.item
                span.option Basic
                div.info
                    strong.price 40,000円
                    span.desc (세금포함)/1개월