mixin screenShot(...items)
    div.screenShot
        ul
            each thumbnail in items
                li.item
                    a(href='#mLayerScreenShot').eShowLayer
                        img(src=thumbnail, alt='')