mixin searchHead(typeClass, title, searchWord, ...value)
    div(class=`searchHead${!typeClass ? '' : ' '+typeClass}`)
        div.inner
            div.head
                if title
                    h3.title #{title}
                if searchWord
                    div.searchWord
                        span.label 앱 검색결과
                        div.searchForm
                            input(type='text', value=searchWord)
                button.btnFilter(type='button') 필터
            div.search
                each item in value
                    div.filter
                        span.value= item
                        button.btnDelete(type='button') 삭제
                            span.icoDelete
                button.btnReset(type='button') 초기화
                    span.icoDelete