mixin searchHeadNoDelete(typeClass, title, searchWord, ...value)
    div(class=`searchHead discard${!typeClass ? '' : ' '+typeClass}`)
        div.head
            if title
                h3.title #{title}
            if searchWord
                div.searchWord
                    span.label 앱 검색결과
                    div.searchForm
                        input(type='text', value=searchWord)
            if value.length > 0
                button.btnFilter.active(type='button') 필터
            else
                button.btnFilter(type='button') 필터
        if value.length > 0
            div.search
                each item in value
                    div.filter
                        span.value= item
                button.btnReset(type='button') 초기화
