include /components/sliderItem

mixin slider(sliderClass, images, page, ctrl)
  div.sliderWrap(class=sliderClass)
    div.sliderContainer
      div.sliderWrapper
        if block
          block
        else
          each image, i in images
            div.slide.item= 'item '+ images[i]
    if page
      div.sliderPagination
    if ctrl
    div.sliderCtrl
      button.slidePrev Previous
      button.slideNext Next