include /components/sliderItem

mixin slider(id, datas, typeClass, types, pages, ctrls)
  div(id=id class=`sliderWrap ${typeClass}`)
    div.sliderContainer
      div.sliderWrapper
        +sliderItem(datas, types)
    if pages
      div.sliderPagination
    if ctrls
      div.sliderCtrl
        div.prevWrap
          button.slidePrev Previous
        div.nextWrap
          button.slideNext Next
