mixin slider(sliderClass, images, page, ctrl)
  div.sliderWrap(class=sliderClass)
    div.sliderContainer
      div.sliderWrapper
        +sliderItem(items, types)
    if pages
      div.sliderPagination
    if ctrls
    div.sliderCtrl
      button.slidePrev Previous
      button.slideNext Next