include /components/sliderItem

mixin slider(id, className, items, types, pages, ctrls, etc)
  p !{etc}
  div(id=id class=`sliderWrap ${className}`)
    div.sliderContainer
      div.sliderWrapper
        +sliderItem(items, types)
    if pages
      div.sliderPagination
    if ctrls
    div.sliderCtrl
      button.slidePrev Previous
      button.slideNext Next