mixin stateBar(typeClass)
    div(class=`stateBar${!typeClass ? '' : ' '+typeClass}`)
        div.left
            div.total
                strong.data 1,222개
                | 결과
        div.right
            select.fSelect.eSelect.typeSort.gRight
                option 최신순
                option 판매순
                option 최저가순
                option 최고가순
                option 파트너등급순