mixin subVisual(typeClass, label, title, ...items)
    div(class=`subVisual${!typeClass ? '' : ' '+typeClass}`)
        strong.label !{label}
        h2.title !{title}
        div.keyword
            each keyword in items
                a.value(href="#none") #{keyword}