extends /layouts/layout
include /components/common/mTitle
include /components/common/mPagination
include /components/partnerList

block append contents

  section.appPartnerArea
    +mTitle('typeSub', 'h2', '개발사 소개', '뛰어난 품질과 서비스를 제공하는 카페24가 검증한 개발사를 만나보세요.')
    div.gInner
      div.stateBar
        div.left
          div.total
            strong.data 6개
            | 결과
      +partnerList('typeApp')
      +mPagination('typeMore', false)
