extends /layouts/layout
include /components/common/mTitle
include /components/common/mPagination
include /components/stateBar
include /components/list

block append contents
  section.themePartnerArea
    +mTitle('typeSub', '파트너 소개', '디자인에 완벽함을 추구하고, 트렌드를 선도하는 카페24가 검증한 파트너를 소개합니다.')

    div.gInner
      +stateBar(false)

    - var themePartnerData = require('./src/js/data/themePartner.js');
    section.themePartnerArea
      +list(themePartnerData, 'typePartner')

block append body
