extends layouts/layout
include /components/app_simple
include /components/heading


block append contents
    include /components/mainvisual

    +heading('이번주를 뜨겁게 달군 핫한 앱')


    +appSimple('앱 제목1', '마케팅', '1,000円', '/images/@img_app_icon.png')
    +appSimple('앱 제목이 길어지면 이렇게 나옴 길다고 길다고', '마케팅', '10,000円', '/images/@img_app_icon.png')
    +appSimple('앱 제목2', '마케팅', '10,000円', '/images/@img_app_icon.png')
    +appSimple('앱 제목2', '마케팅', '10,000円', '/images/@img_app_icon.png')

    +heading('이번주 BEST 인기 테마')

    include /components/mainstory
    include /components/shopmaking
    include /components/subcategory
    +categoryTitle('앱 카테고리')
    +categoryItem('배너')(class='banner')
    +categoryItem('팝업/알림')(class='notify')
    +categoryItem('상품상세 편집')(class='product')
    +categoryItem('상품 디스플레이')(class='display')
    +categoryItem('마케팅')(class='marketing')
    +categoryItem('고객지원')(class='customer')
    +categoryItem('판매/전환')(class='sales')
    +categoryItem('분석/통계')(class='stats')
    +categoryItem('기타')(class='etc')
    +categoryItem('전체')(class='all')


block append body
  script(src="/js/ui/index.js")
