extends layouts/layout
include /components/app_simple
include /components/common/mTitle


block append contents
    include /components/mainvisual

    +mTitle(false, '이번주를 뜨겁게 달군 핫한 앱')


    +appSimple('앱 제목1', '마케팅', '1,000円', '/images/@img_app_icon.png')
    +appSimple('앱 제목이 길어지면 이렇게 나옴 길다고 길다고', '마케팅', '10,000円', '/images/@img_app_icon.png')
    +appSimple('앱 제목2', '마케팅', '10,000円', '/images/@img_app_icon.png')
    +appSimple('앱 제목2', '마케팅', '10,000円', '/images/@img_app_icon.png')

    +mTitle(false, '이번주 BEST 인기 테마')

    include /components/mainstory


    include /components/subcategory
    +category('앱 카테고리', 'app')(class="app")
    +category('테마 카테고리', 'theme')(class="theme")

    include /components/partnermeet
    +partnermeet('뛰어난 품질과 서비스를 제공하는 <br>카페24가 검증한 파트너와 만나보세요', '파트너 보러가기')(class="partner")



block append body
  script(src="/js/ui/index.js")
