@include respond(mobile) {
  .appRanking {
    .heading { padding:35px 0 25px;
      .title { font-size:20px; }
      .desc { margin:0 0 10px; font-size:13px; color:#797980; }
    }
    .ranking {
      li { display:block; @include more('li', 5); }
    }
  }
}

@include respond(tablet-pc) {
  .appRanking { max-width:1404px; margin:0 auto; display:flex;
    .heading { position:relative; width:360px;
      &:before { content:""; position:absolute; top:114px; left:0; display:block; width:80px; height:92px; background:url('../images/bg_product_ranking.gif'); }
      .title { font-size:28px; color:#000; }
      .desc { margin:8px 0 0; font-size:13px; color:#797980; }
    }
    .ranking { display:flex; flex:1; flex-flow:column wrap; width:50%; max-height:590px; vertical-align:top; }
    .ranking + .ranking { margin:0 0 0 50px; }

    ol { counter-reset:ordered; }
  }
}

@include respond(tablet) {

}
