@include respond(mobile) {
  .appListArea {  }
  .appList { padding:0 20px 39px; background:#fff;
     &:after { @include clearfix(); }
    .thumbnail { float:left; width:60px; height:60px;
      img { max-width:100%; }
    }
    .infomation { padding:0 0 0 76px;
      .title { font-size:15px; color:#000; font-weight:500; }
      .category { display:block; font-size:11px; color:#758ea6; }
      .price { display:block; margin:3px 0 0; font-size:12px; color:#797980; font-weight:400; }
    }
    .infoDesc { margin:13px 0 0; padding:0 0 0 76px; }

    @include more('.appList', 4);
  }
}

@include respond(mobile-tablet) {

}

@include respond(tablet) {
  .appList { width:(100% / 2); }
}

@include respond(tablet-pc) {
  .appListArea { }
  .appGroup { display:flex; flex-wrap:wrap; margin:0 0 0 -40px; }

  .appList { margin:0 0 40px; padding:0 0 0 40px; box-sizing:border-box;
    &.typeSearch {
      .infomation { min-height:84px; }
      .infoDesc { @include text-ellipsis(21, 3); width:auto; margin:16px 0 0; padding:0 0 0 96px; }
    }

    .thumbnail { float:left; width:80px; height:80px;
      img { max-width:100%; }
    }
    .infomation { padding:0 0 0 96px;
      .title { font-size:16px; line-height:21px; color:#000; font-weight:500; }
      .category { display:block; font-size:13px; color:#758ea6; }
      .price { display:block; margin:3px 0 0; font-size:14px; color:#797980; font-weight:400; }
    }
    .infoDesc { margin:28px 0 0; font-size:14px; color:#797980; }
  }
}

@include respond(pc) {
  .appList { width:(100%/4);
    &.typeSearch { width:(100%/3); }
  }
}
