@include respond(mobile) {

}

@include respond(mobile-tablet) {

}

@include respond(tablet) {


}

@include respond(tablet-pc) {
  .appRanking { position:relative; max-width:1240px; margin:0 auto; display:flex;
    .heading { width:360px;
      .title { font-size:28px; color:#000; }
      .desc { margin:8px 0 0; font-size:13px; color:#797980; }
    }
    .ranking { flex:1; display:inline-block; width:50%; vertical-align:top; }
    .ranking + .ranking { margin:0 0 0 50px; }

    ol { counter-reset:ordered; }
    li {  }



  }
}

@include respond(pc) {

}
