@include respond(mobile) {
  .faqList {
    .faq { border-bottom:1px solid #e8e8e8;
      .head { position:relative; padding:20px 33px 20px 25px;
        &:before { content:"Q."; position:absolute; top:20px; left:0; display:block; margin:0 10px 0 0; font-size:14px; color:#000; font-weight:400; }
        .title { font-size:14px; color:#000; font-weight:400; }
        .btnFold { @include blind(); position:absolute; top:0; bottom:0; left:0; right:0; display:block; width:100%; }
      }
      .content { display:none; position:relative; padding:20px 20px 25px 40px; font-size:14px; color:#000; background:#f9f9f9;
        &:before { content:"A."; position:absolute; top:20px; left:20px; display:block; margin:0 20px 0 0; font-size:14px; color:#000; font-weight:400; }
      }
      &.selected {
        .head {
          &:before,
          .title { color:#0055fb; }
        }
        .content { display:block; }
      }
    }
  }
  .btnMore { display:block; margin:20px auto; text-align:center; font-size:14px; color:#0055fb; }
}

@include respond(mobile-tablet) {

}

@include respond(tablet) {


}

@include respond(tablet-pc) {
  .faqList {
    .faq { border-bottom:1px solid #e8e8e8;
      .head { position:relative; padding:30px 0 30px 25px;
        &:before { content:"Q."; position:absolute; top:29px; left:0; display:block; margin:0 10px 0 0; font-size:16px; color:#000; font-weight:400; }
        .title { font-size:16px; color:#000; font-weight:400; }
        .btnFold { @include blind(); position:absolute; top:0; bottom:0; left:0; right:0; display:block; width:100%; }
      }
      .content { display:none; position:relative; padding:25px 0 40px 65px; font-size:16px; color:#000; background:#f9f9f9;
        &:before { content:"A."; position:absolute; top:24px; left:34px; display:block; margin:0 20px 0 0; font-size:16px; color:#000; font-weight:400; }
      }
      &.selected {
        .head {
          &:before,
          .title { color:#0055fb; }
        }
        .content { display:block; }
      }
    }
  }
  .btnMore { display:block; margin:30px auto 0; text-align:center; font-size:16px; color:#0055fb; }
}

@include respond(pc) {

}
