#wrap {
  min-height:100vh;
  font-size:$font-size;
  background:$background-color url('/images/dog.jpg') no-repeat center center;
  background-size:100% 100%;
}

#header { min-height:20vh; @include flex(); }
#contents { min-height:70vh; @include flex(); }
#footer {min-height:10vh; @include flex(); }
