@include respond(mobile-tablet) {
  .partnerInfo { position:relative; padding:0 0 80px;
    .company {  padding:0 20px 0 0; box-sizing:border-box;
      &:after { content:""; display:block; clear:both; }
      .thumbnail { float:left; overflow:hidden; width:50px; height:50px; margin:0 22px 0 0; background:#ddd; }
      .information { padding:0 0 0 62px;
        .name { display:block; font-size:22px; font-weight:400; line-height:1;
          .tier { @include blind(); display:inline-block; width:17px; height:18px; vertical-align:middle;
            background:url('../images/sfix_partner_tier.png'); background-size:100px auto;
            &.gold { background-position:-25px 0; }
            &.silver { background-position:-50px 0; }
            &.bronze { background-position:-75px 0; }
          }
        }
        .site { font-size:12px; color:#959595; }
        .detailView { position:absolute; left:0; bottom:40px; width:100%; margin:24px 0 0;
          .view { font-size:13px; color:#0055fb; }
          .btnView { @include blind(); width:24px; height:24px; margin:0 0 0 12px; border:1px solid #e8e8e8; border-radius:50%; box-sizing:border-box; }
          .detailInfo {
            &:after { content:""; display:block; clear:both; }
            dt { float:left; width:100px; margin:0 0 10px; font-size:12px; color:#959595; }
            dd { width:calc(100% - 100px); margin:0 0 10px; padding:0 0 0 100px; font-size:12px; color:#333;
              a { color:#0055fb; text-decoration:underline; }
            }
          }
        }
      }
    }
    .detail { margin:35px 0 0;
      dl { display:flex; flex-wrap:wrap; justify-content:space-between; box-sizing:border-box;
        dt { margin:0 0 10px; font-size:14px; color:#333; font-weight:500; }
        dd { margin:0 0 10px; font-size:14px; color:#333; width:calc(100% - 83px); }
      }
    }
  }

}

@include respond(pc) {
  .partnerInfo { position:relative; display:flex;
    .company { width:(100%/3); padding:0 20px 0 0; box-sizing:border-box;
      &:after { content:""; display:block; clear:both; }
      .thumbnail { float:left; width:100px; height:100px; margin:0 22px 0 0; background:#ddd; }
      .information { padding:0 0 0 124px;
        .name { display:block; font-size:28px; font-weight:400; line-height:1;
          .tier { @include blind(); display:inline-block; width:22px; height:24px; vertical-align:middle;
            background:url('../images/sfix_partner_tier.png'); background-size:128px auto;
            &.gold { background-position:-33px 0; }
            &.silver { background-position:-65px 0; }
            &.bronze { background-position:-96px 0; }
          }
        }
        .site { font-size:14px; color:#959595; }
        .detailView { position:relative; margin:24px 0 0;
          .view { font-size:16px; color:#0055fb; line-height:16px; }
          .detailInfo {
            &:after { content:""; display:block; clear:both; }
            dt { float:left; width:110px; margin:0 0 10px; font-size:13px; color:#959595; }
            dd { width:calc(100% - 110px); margin:0 0 10px; padding:0 0 0 110px; font-size:13px; color:#333; white-space:nowrap;
              a { color:#0055fb; text-decoration:underline; }
            }
          }
        }
      }
    }
    .detail { display:flex; align-items:baseline; flex:1;
      dl { display:flex; flex-wrap:wrap; justify-content:space-between; max-width:400px; width:(100%/2); padding:0 20px 0 0; box-sizing:border-box;
        dt { margin:0 0 12px; font-size:16px; color:#333; font-weight:500; }
        dd { margin:0 0 12px; font-size:16px; color:#333; width:calc(100% - 94px); }
      }
    }
  }
}