@include respond(mobile) {
  .partnerMeet { padding:68px 0; background:#000;
    .heading { margin:0 0 57px; text-align:center;
      .title { font-size:20px; line-height:26px; color:#fff; font-weight:400; }
      .label { display:block; margin:0 0 37px; font-size:10px; color:#5398f5; font-weight:800; text-transform:uppercase; }
    }
    .button { text-align:center;
      .btnDevelop { display:inline-block; height:40px; padding:0 24px; line-height:40px; font-size:13px; text-align:center; color:#fff; border:1px solid #fff; box-sizing:border-box; border-radius:2px; }
    }
  }
}

@include respond(mobile-tablet) {

}

@include respond(tablet) {

}

@include respond(tablet-pc) {
  .partnerMeet { padding:180px 0 190px; background:#000;
    .heading { margin:0 0 55px; text-align:center;
      .title { font-size:32px; line-height:48px; color:#fff; font-weight:400; }
      .label { display:block; margin:0 0 30px; font-size:14px; color:#5398f5; font-weight:800; text-transform:uppercase; }
     }
    .button { text-align:center;
      .btnDevelop { display:inline-block; height:48px; padding:0 52px; line-height:46px; font-size:15px; text-align:center; color:#fff; border:1px solid #fff; box-sizing:border-box; border-radius:2px; }
    }
  }
}

@include respond(pc) {

}