@include respond(mobile) {
  .productAddInfo { position:relative;
    .information { margin:0 0 35px; box-sizing:border-box;
      .title { display:block; margin:0 0 8px; font-size:14px; color:#333; font-weight:500; }
      .desc { font-size:14px; color:#5b5b5b; line-height:20px; }

      &.notice { min-height:auto; }
    }
  }
}

@include respond(mobile-tablet) {

}

@include respond(tablet) {


}

@include respond(tablet-pc) {
  .productAddInfo { display:flex; flex-wrap:wrap; position:relative;
    .information { width:(100%/3); padding:0 20px 0 0; box-sizing:border-box;
      .title { display:block; margin:0 0 12px; font-size:16px; color:#333; font-weight:500; }
      .desc { font-size:16px; color:#333; line-height:24px; }

      &.notice { min-height:auto; margin-top:-68px; }
    }
  }
}

@include respond(pc) {

}
