@include respond(mobile) {
  .faqArea { text-align:center;
    .faqList { text-align:left;
      .faq { border-bottom:1px solid #e8e8e8;
        .head { position:relative; padding:20px 33px 20px 25px;
          &:before { content:"Q."; position:absolute; top:20px; left:0; display:block; margin:0 10px 0 0; font-size:14px; color:#000; font-weight:400; }
          .title { font-size:14px; color:#000; font-weight:400; }
          .btnFold { @include blind(); position:absolute; top:0; bottom:0; left:0; right:0; display:block; width:100%; }
        }
        .content { display:none; position:relative; padding:20px 20px 25px 40px; font-size:14px; color:#000; background:#f9f9f9;
          &:before { content:"A."; position:absolute; top:20%; left:20px; display:block; margin:0 20px 0 0; font-size:14px; color:#000; font-weight:400; }
        }
        &.selected {
          .head {
            &:before,
            .title { color:#0055fb; }
          }
          .content { display:block; }
        }
      }
    }
    .btnMoreFaq { margin:20px auto; text-align:center; font-size:14px; color:#0055fb; }
  }
}

@include respond(tablet-pc) {
  .faqArea { text-align:center;
    .faqList { text-align:left;
      .faq { border-bottom:1px solid #e8e8e8;
        .head { position:relative; padding:30px 0 30px 25px;
          &:before { content:"Q."; position:absolute; top:29px; left:0; display:block; margin:0 10px 0 0; font-size:16px; color:#000; font-weight:400; }
          .title { font-size:16px; color:#000; font-weight:400; }
          .btnFold { @include blind(); position:absolute; top:0; bottom:0; left:0; right:0; display:block; width:100%; }
        }
        .content { display:none; position:relative; padding:25px 0 40px 65px; font-size:16px; color:#000; background:#f9f9f9;
          &:before { content:"A."; position:absolute; top:22%; left:34px; display:block; margin:0 20px 0 0; font-size:16px; color:#000; font-weight:400; }
        }
        &.selected {
          .head {
            &:before,
            .title { color:#0055fb; }
          }
          .content { display:block; }
        }
      }
    }
    .btnMoreFaq { min-width:160px; margin:10px auto; padding:20px; font-size:16px; color:#0055fb;
      &:before { content:'+'; display:inline-block; margin:0 4px 0 0 ; font-size:inherit; color:inherit; }
    }
  }
}
