@include respond(mobile) {
  .reviewWrap {
    .head { position:relative; margin:0 0 18px;
      .score { margin:-15px 0 0; font-size:40px; line-height:1; text-align:center;
        .average { font-size:inherit; font-weight:800; line-height:inherit; }
        .outOf { font-size:inherit; font-weight:300; color:#d1d1d1; line-height:inherit;
          &:before { content:'/'; display:inline-block; position:relative; top:-4px; margin:0 6px; font-size:31px; font-weight:inherit; color:inherit; line-height:inherit;  }
        }
      }
      .review { display:block; margin:20px 0 30px; font-size:13px; color:#959595; line-height:1; text-align:center;
        a { display:inline-block; position:relative; padding:0 19px; color:inherit; transition:all .3s ease; cursor:auto;
          &:before,
          &:after { content:''; display:block; position:absolute; left:0; top:0; width:14px; height:14px; background:url('#{$src}/ico_review.png'); background-size:14px auto; transition:all .3s ease; }
          &:before { opacity:1; background-position:0 0; }
          &:after { opacity:0; background-position:0 -14px; }
          &:hover { color:#000;
            &:before { opacity:0; }
            &:after { opacity:1; }
          }
        }
      }
      .btnWrap { font-size:0; line-height:0;
        .btn {
          &Light { width:calc(50% - 5px); margin:0 5px 0 0; }
          &Dark { width:calc(50% - 5px); margin:0 0 0 5px; }
        }
      }
    }

    .content {
      .reviewArea { text-align:center;
        .reviewList { overflow:hidden; text-align:left;
          li { overflow:hidden; position:relative; border-bottom:1px solid #e8e8e8; }
        }
        .reviewInfo { flex:1 1 0; padding:34px 0 0;
          .grade { display:block; margin:0 0 10px;
            .icoGrade { width:15px; height:15px; fill:#d4d4d4;
              &.active { fill:#ffc300; }
            }
          }
          .author { display:block; font-size:14px; color:#333; line-height:23px; }
          .date { font-size:12px; color:#959595; }
        }
        .reviewText { display:flex; align-items:center; width:100%; padding:20px 0 30px; font-size:14px; color:#333; line-height:20px; box-sizing:border-box;
          .text { display:inline-block; }
        }
        .recommend { position:absolute; right:0; top:79px; }
        .comment { overflow:hidden; margin:0 0 20px 0; padding:20px; border-radius:4px; background:#f9f9f9; font-size:14px; color:#333; line-height:20px; text-align:left;
          .commentText {
            .text { display:inline-block; }
          }
          .commentInfo { margin:25px 0 0;
            .admin { font-size:12px; color:#333; }
            .date { margin:0 0 0 5px; font-size:12px; color:#959595; }
          }
        }
        .txtEm { font-weight:400; }
        .btnMoreView { margin:0 4px; color:#0055fb; font-size:14px; }
        .btnThumbsUp { position:relative; padding:0 15px 0 30px; height:30px; border:1px solid #e8e8e8; border-radius:14px; font-size:13px; color:#333;
          &:before { content:''; display:block; position:absolute; left:12px; top:7px; width:12px; height:12px; background:url('#{$src}/ico_thumbs_up.png') no-repeat center center; background-size:12px auto; }
          &:hover,
          &.active { border-color:#fff5f5; background:#fff5f5; color:#ff2828; }
        }
        .btnMoreReview { min-width:160px; margin:10px auto; padding:10px; font-size:14px; color:#0055fb;
          &:before { content:'+'; display:inline-block; margin:0 4px 0 0 ; font-size:inherit; color:inherit; }
        }
        &.typeBest { position:relative; margin:30px 0 0; padding:40px 0 0; border-radius:4px; text-align:left; background:#eff7ff url('#{$src}/img_best_review.png') no-repeat 20px 20px; background-size:126px auto;
          .reviewInfo { padding:20px; }
          .reviewText { padding:20px; }
          .recommend { right:20px; top:99px; }
          .comment { background:#e6f2fe; }
        }
      }
    }
  }
}

@include respond(tablet-pc) {
  .reviewWrap {
    .head { position:relative; margin:0 0 18px;
      .score { padding:0 0 15px; font-size:60px; line-height:1;
        .average { font-size:inherit; font-weight:800; line-height:inherit; }
        .outOf { font-size:inherit; font-weight:300; color:#d1d1d1; line-height:inherit;
          &:before { content:'/'; display:inline-block; position:relative; top:-4px; margin:0 6px; font-size:47px; font-weight:inherit; color:inherit; line-height:inherit;  }
        }
      }
      .review { display:inline-block; font-size:16px; color:#959595; line-height:1;
        a { display:block; position:relative; padding:0 30px 2px 28px; color:inherit; transition:all .3s ease; cursor:auto;
          &:before,
          &:after { content:''; display:block; position:absolute; left:0; top:0; width:18px; height:18px; background:url('#{$src}/ico_review.png'); background-size:18px auto; transition:all .3s ease; }
          &:before { opacity:1; background-position:0 0; }
          &:after { opacity:0; background-position:0 -18px; }
          &:hover { color:#000;
            &:before { opacity:0; }
            &:after { opacity:1; }
          }
        }
      }
      .btnWrap { position:absolute; right:0; bottom:5px;
        .btn {
          &Light { min-width:160px; margin:0 3px; }
          &Dark { min-width:160px; margin:0 3px; }
        }
      }
    }

    .content {
      .reviewArea { overflow:hidden; text-align:center;
        .reviewList { text-align:left;
          li { overflow:hidden; position:relative; border-bottom:1px solid #e8e8e8; }
        }
        .reviewInfo { width:200px; padding:38px 0 50px;
          .grade { display:block; margin:0 0 10px;
            .icoGrade { width:15px; height:15px; fill:#d4d4d4;
              &.active { fill:#ffc300; }
            }
          }
          .author { display:block; font-size:14px; color:#333; line-height:23px; }
          .date { font-size:12px; color:#959595; }
        }
        .reviewText { display:flex; align-items:center; flex:1 1 0; padding:38px 38px 38px 0; font-size:16px; color:#333; line-height:24px;
          .text { display:inline-block; }
        }
        .recommend { display:flex; align-items:center; justify-content:center; padding:0 38px; }
        .comment { overflow:hidden; margin:0 0 20px 200px; padding:38px; border-radius:4px; background:#f9f9f9; font-size:16px; color:#333; line-height:24px; text-align:left;
          .commentText {
            .text { display:inline-block; }
          }
          .commentInfo { margin:20px 0 0;
            .admin { font-size:14px; color:#333; }
            .date { margin:0 0 0 10px; font-size:12px; color:#959595; }
          }
        }
        .txtEm { font-weight:400; }
        .btnMoreView { margin:0 4px; color:#0055fb; font-size:16px; }
        .btnThumbsUp { position:relative; padding:0 14px 0 34px; height:32px; border:1px solid #e8e8e8; border-radius:14px; font-size:12px; color:#333;
          &:before { content:''; display:block; position:absolute; left:12px; top:8px; width:14px; height:14px; background:url('#{$src}/ico_thumbs_up.png') no-repeat center center; background-size:14px auto; }
          &:hover,
          &.active { border-color:#fff5f5; background:#fff5f5; color:#ff2828; }
        }
        .btnMoreReview { min-width:160px; margin:10px auto; padding:20px; font-size:16px; color:#0055fb;
          &:before { content:'+'; display:inline-block; margin:0 4px 0 0 ; font-size:inherit; color:inherit; }
        }
        &.typeBest { margin:24px 0 30px; padding:50px 0 0; border-radius:4px; text-align:left; background:#eff7ff url('#{$src}/img_best_review.png') no-repeat 38px 38px; background-size:182px auto;
          .reviewInfo { padding:38px 38px 50px; box-sizing:border-box; }
          .comment { margin-right:20px; background:#e6f2fe; }
        }
      }
    }
  }
}

@include respond(tablet) {
}
