@include respond(mobile) {
  .fixed { transition-duration:.3s; transition-timing-function:ease; transition-property:transform, opacity;
    &.scrollUp { transform:translateY(0); }
    &.scrollDown { transform:translateY(-100%); }
  }

  .infoWrap {
    .infoHead { width:100%;
      .title { display:block; margin:16px 0 0; font-size:22px; color:#000; line-height:30px; }

      .infoEtc { overflow:hidden; padding:19px 0 22px; font-size:0; line-height:0;
        .grade { display:inline-block; position:relative;
          .icoGrade { position:absolute; left:-1px; top:-1px; width:16px; height:16px; fill:#ffc300; }
          .average { display:block; padding:0 20px 0 20px; font-size:14px; font-weight:800; color:#000; line-height:1; }
        }
        .review { display:inline-block; position:relative; top:-1px; font-size:13px; color:#959595; line-height:1;
          a { display:block; position:relative; padding:0 20px 1px 20px; color:inherit; transition:all .3s ease;
            &:before,
            &:after { content:''; display:block; position:absolute; left:0; top:0; width:14px; height:14px; background:url('#{$src}/ico_review.png'); background-size:14px auto; transition:all .3s ease; }
            &:before { opacity:1; background-position:0 0; }
            &:after { opacity:0; background-position:0 -14px; }
            &:hover { color:#000;
              &:before { opacity:0; }
              &:after { opacity:1; }
            }
          }
        }
        .btnLike { position:relative; float:right; width:16px; height:14px; @include blind();
          &:before,
          &:after { content:''; display:block; position:absolute; left:0; top:0; width:16px; height:14px; background:url('#{$src}/ico_like.png'); background-size:16px auto; transition:all .3s ease; }
          &:before { opacity:1; background-position:0 0; }
          &:after { opacity:0; background-position:0 -14px; }
          &:hover {
            &:before { opacity:0; }
            &:after { opacity:1; }
          }
          &.active{
            &:before { opacity:0; }
            &:after { opacity:1; }
          }
        }
      }
    }

    .infoThumb { width:100%; padding:0 0 30px;
      .app { overflow:hidden; position:relative; left:-20px; width:calc(100% + 40px);
        .frame { position:relative; width:100%; padding-bottom:56.25%; /* 16:9 */
          iframe { position:absolute; left:0; top:0; width:100%; height:100%; }
        }
      }
      .theme {
        > .pc { overflow:hidden; position:relative; width:100%; padding:24px 0 0; border-radius:6px; box-shadow:0 10px 20px 0 rgba(0, 0, 0, .1);
          .frame { overflow:hidden; position:absolute; left:0; top:0; right:0; z-index:10; width:100%; height:100%; max-height:24px; margin:0 auto; border:1px solid #f2f2f2; border-radius:6px 6px 0 0; box-sizing:border-box; background:url('#{$src}/combine_theme_frame.jpg') no-repeat left center; background-size:cover; }
          .image { overflow:hidden; position:relative; width:100%; padding-top:124.69%; border:1px solid #f2f2f2; border-top:0; border-radius:0 0 6px 6px; box-sizing:border-box;
            img { position:absolute; left:0; top:0; right:0; margin:0 auto; height:auto; }
          }
        }
        > .mobile { overflow:hidden; border-radius:6px; box-shadow:0 10px 20px 0 rgba(0, 0, 0, .1);
          .image { overflow:hidden; position:relative; width:100%; border-radius:6px;
            // padding-top:156.25%;
            // img { position:absolute; left:0; top:0; right:0; margin:0 auto; height:auto; }
            &:before { content:''; display:block; position:absolute; left:0; top:0; width:100%; height:100%; border:1px solid rgba(0, 0, 0, .03); border-radius:6px; box-sizing:border-box; }
            &:nth-of-type(2) { display:none; }
          }
        }
        .combine { position:relative;
          .pc { display:none; }
          .mobile { overflow:hidden; border-radius:6px; box-shadow:0 10px 20px 0 rgba(0, 0, 0, .1);
            .image { overflow:hidden; position:relative; width:100%; border-radius:6px;
              // padding-top:156.25%;
              // img { position:absolute; left:0; top:0; right:0; margin:0 auto; height:auto; }
              &:before { content:''; display:block; position:absolute; left:0; top:0; width:100%; height:100%; border:1px solid rgba(0, 0, 0, .03); border-radius:6px; box-sizing:border-box; }
            }
          }
        }

        .btnWrap { overflow:hidden; position:absolute; left:0; top:0; right:0; bottom:0; width:100%; height:100%; border-radius:6px; background:rgba(0, 0, 0, .2); opacity:0; visibility:hidden; transition:all .3s ease;
          .btnStrong { position:absolute; left:0; bottom:60px; right:0; width:140px; font-size:14px; margin:0 auto; }
        }
        .pc,
        .mobile {
          &:hover .btnWrap { display:none; opacity:0; visibility:hidden; }
        }
      }
    }

    .infoListArea { padding:0 0 30px;
      .infoList {
        li { position:relative; margin:0 0 12px; font-size:14px; color:#333; line-height:24px;
          strong { display:inline-block; width:percent(130, 660); max-width:130px; font-weight:500; vertical-align:top; }
          p { display:inline-block; position:relative; width:percent(370, 660); max-width:370px; vertical-align:top;
            span { display:block; font-size:inherit; color:inherit; @include text-ellipsis(24, 1); }
          }
          &.partner {
            .btnNormal { position:absolute; right:0; top:-3px; }
          }
        }
      }
    }

    .infoPrice { padding:0 0 30px;
      .price { display:inline-block; font-size:22px; font-weight:400; color:#000; line-height:1;
        .desc { margin:0 0 0 7px; font-size:14px; }
      }
      > .desc { line-height:24px;
        &.typeApp { position:relative; margin:15px 0 33px; padding:0 70px 0 0; font-size:13px; color:#7b7b7b;
          .count { margin:0 2px 0 4px; }
          .btnNormal { position:absolute; right:0; top:-8px; }
        }
        &.typeTheme { margin:23px 0 31px; position:relative; padding:0 0 0 18px; font-size:15px; color:#758ea6;  letter-spacing:-.5px;
          &:before { content:''; display:block; position:absolute; left:0; top:9px; width:7px; height:3px; border-left:2px solid #758ea6; border-bottom:2px solid #758ea6; transform:rotateZ(-45deg); }
          .txtWarn { font-size:inherit; margin:0 2px; }
        }
      }
      .btnWrap { display:flex; justify-content:space-between; margin:30px 0 0;
        .btn {
          &Em { width:calc(50% - 5px); font-weight:800; }
          &Submit { width:calc(50% - 5px); font-weight:800; }
          &Like { display:none; position:relative; width:48px; height:48px; margin:0 2px 0 0; border:1px solid #d8d8d9; border-radius:4px; transition:all .3s ease; vertical-align:top; @include blind();
            &:before,
            &:after { content:''; display:block; position:absolute; left:50%; top:50%; width:20px; height:18px; background:url('#{$src}/ico_like.png'); background-size:20px auto; transition:all .3s ease; transform:translate(-50%, -50%); }
            &:before { opacity:1; background-position:0 0; }
            &:after { opacity:0; background-position:0 -18px; }
            &:hover { border-color:#f0e5e5; background:#fff5f5;
              &:before { opacity:0; }
              &:after { opacity:1; }
            }
            &.active { border-color:#f0e5e5; background:#fff5f5;
              &:before { opacity:0; }
              &:after { opacity:1; }
            }
          }
        }
      }
    }

    .infoFixed { position:fixed; left:0; top:50px; right:0; z-index:-1; width:100%; padding:1px 0 0; border-top:1px solid #ececec; border-bottom:1px solid #ececec; box-shadow:0 10px 10px 0 rgba(0, 0, 0, .01); background:#fff; box-sizing:border-box; opacity:0; visibility:hidden; transition:all .3s ease;
      .inner { display:flex; flex-wrap:wrap; overflow:hidden; position:relative; width:100%; padding:0 20px; box-sizing:border-box;
        .head { overflow:hidden; flex:1 1 0; min-width:0; padding:10px 20px 10px 0; white-space:nowrap; word-break:break-all; text-overflow:ellipsis;
          .image { display:none; }
          .title { overflow:hidden; white-space:nowrap; word-break:break-all; text-overflow:ellipsis; font-size:14px; color:#000; line-height:24px; }
        }
        .content { display:none; }
        .btnWrap { padding:10px 0;
          .btn {
            &Like { position:relative;  width:27px; height:27px; margin:0 2px 0 0; transition:all .3s ease; vertical-align:top; @include blind();
              &:before,
              &:after { content:''; display:block; position:absolute; left:50%; top:50%; width:20px; height:18px; background:url('#{$src}/ico_like.png'); background-size:20px auto; transition:all .3s ease; transform:translate(-50%, -50%); }
              &:before { opacity:1; background-position:0 0; }
              &:after { opacity:0; background-position:0 -18px; }
              &:hover {
                &:before { opacity:0; }
                &:after { opacity:1; }
              }
              &.active {
                &:before { opacity:0; }
                &:after { opacity:1; }
              }
            }
            &Submit { width:auto; height:27px; margin:0 0 0 6px; font-size:11px; font-weight:400; border-radius:12px; line-height:25px; }
          }
        }
      }
      &.fixed { z-index:100; opacity:1; visibility:visible; }
    }
  }
}

@include respond(tablet-pc) {
  .fixed { transition-duration:.3s; transition-timing-function:ease; transition-property:transform, opacity;
    &.scrollUp { transform:translateY(0); }
    &.scrollDown { transform:translateY(-100%); }
  }

  .infoWrap {
    .infoHead { float:right; width:100%; max-width:420px;
      .title { display:block; margin:16px 0 0; font-size:36px; color:#000; line-height:48px; }
      .infoEtc { overflow:hidden; padding:19px 0 23px; border-bottom:1px solid #e8e8e8; font-size:0; line-height:0;
        .grade { display:inline-block; position:relative;
          .icoGrade { position:absolute; left:-1px; top:-1px; width:20px; height:20px; fill:#ffc300; }
          .average { display:block; padding:0 30px 0 28px; font-size:18px; font-weight:800; color:#000; line-height:1; }
        }
        .review { display:inline-block; position:relative; top:-1px; font-size:16px; color:#959595; line-height:1;
          a { display:block; position:relative; padding:0 30px 2px 28px; color:inherit; transition:all .3s ease;
            &:before,
            &:after { content:''; display:block; position:absolute; left:0; top:0; width:18px; height:18px; background:url('#{$src}/ico_review.png'); background-size:18px auto; transition:all .3s ease; }
            &:before { opacity:1; background-position:0 0; }
            &:after { opacity:0; background-position:0 -18px; }
            &:hover { color:#000;
              &:before { opacity:0; }
              &:after { opacity:1; }
            }
          }
        }
        .btnLike { position:relative; float:right; width:20px; height:18px; @include blind();
          &:before,
          &:after { content:''; display:block; position:absolute; left:0; top:0; width:20px; height:18px; background:url('#{$src}/ico_like.png'); background-size:20px auto; transition:all .3s ease; }
          &:before { opacity:1; background-position:0 0; }
          &:after { opacity:0; background-position:0 -18px; }
          &:hover {
            &:before { opacity:0; }
            &:after { opacity:1; }
          }
          &.active{
            &:before { opacity:0; }
            &:after { opacity:1; }
          }
        }
      }
    }

    .infoThumb { float:left; width:calc(100% - 500px); max-width:740px; min-height:546px;
      .app { overflow:hidden; border-radius:6px; margin:24px 0 0;
        .frame { position:relative; width:100%; padding-bottom:56.25%; border-radius:6px; box-sizing:border-box;
          iframe { position:absolute; left:0; top:0; width:100%; height:100%; }
        }
      }
      .theme {
        > .pc { position:relative; width:100%; padding:24px 0 0;
          .frame { overflow:hidden; position:absolute; left:0; top:0; right:0; z-index:10; width:100%; height:100%; max-height:24px; margin:0 auto; border:1px solid #f2f2f2; border-radius:6px 6px 0 0; box-sizing:border-box; background:url('#{$src}/combine_theme_frame.jpg') no-repeat left center; background-size:cover; }
          .image { overflow:hidden; position:relative; width:100%; padding-top:73.92%; border:1px solid #f2f2f2; border-top:0; border-radius:0 0 6px 6px; box-sizing:border-box;
            img { position:absolute; left:0; top:0; right:0; margin:0 auto; height:auto; }
          }
        }
        > .mobile { display:flex; flex-wrap:wrap; align-items:center; justify-content:center; position:relative; width:100%; padding:53px 0; margin:24px 0 0; border:1px solid #eaeaea; border-radius:6px; background:#f7f7f7;
          .image { overflow:hidden; position:relative; margin:0 36px; border-radius:6px; width:percent(248, 740); max-width:248px;
            &:before { content:''; display:block; position:absolute; left:0; top:0; width:100%; height:100%; border:1px solid rgba(0, 0, 0, .03); border-radius:6px; box-sizing:border-box; }
          }
        }
        .combine { position:relative;
          .pc { position:relative; width:100%; max-width:680px; padding:24px 0 0;
            .frame { overflow:hidden; position:absolute; left:0; top:0; z-index:10; width:100%; height:100%; max-height:24px; margin:0 auto; border:1px solid #f2f2f2; border-radius:6px 6px 0 0; box-sizing:border-box; background:url('#{$src}/combine_theme_frame.jpg') no-repeat left center; background-size:cover; }
            .image { overflow:hidden; position:relative; width:100%; padding-top:73.92%; border:1px solid #f2f2f2; border-top:0; border-radius:0 0 6px 6px; box-sizing:border-box;
              img { position:absolute; left:0; top:0; right:0; margin:0 auto; height:auto; }
            }
          }
          .mobile { position:absolute; right:6px; bottom:6px;
            .image { position:relative; max-width:180px; border-radius:22px;
              &:before { content:''; display:block; position:absolute; left:-6px; top:-6px; width:calc(100% + 12px); height:calc(100% + 12px); border:6px solid #000; border-radius:22px; box-sizing:border-box; box-shadow:0 10px 20px 0 rgba(0, 0, 0, .2)}
            }
            .btnStrong { width:100px; }
          }
        }

        .btnWrap { overflow:hidden; position:absolute; left:0; top:0; right:0; bottom:0; width:100%; height:100%; border-radius:6px; background:rgba(0, 0, 0, .2); opacity:0; visibility:hidden; transition:all .3s ease;
          .btnStrong { position:absolute; left:0; bottom:60px; right:0; width:140px; font-size:14px; margin:0 auto; }
        }

        .pc,
        .mobile {
          &:hover .btnWrap { opacity:1; visibility:visible; }
        }
      }
    }

    .infoListArea { float:right; width:100%; max-width:420px; padding:23px 0 45px;
      .infoList {
        li { position:relative; margin:0 0 12px; font-size:16px; color:#333; line-height:24px;
          strong { display:inline-block; width:85px; vertical-align:top; }
          p { display:inline-block; position:relative; width:328px; vertical-align:top;
            span { display:block; width:100%; font-size:inherit; color:inherit; }
          }
          &.partner {
            p { padding:0 82px 0 0; box-sizing:border-box; }
            .btnNormal { position:absolute; right:0; top:-3px; }
          }
        }
      }
    }

    .infoPrice { float:right; width:100%; max-width:420px;
      .price { display:inline-block; font-size:22px; color:#000; line-height:1;
        .desc { margin:0 0 0 5px; font-size:16px; }
      }
      > .desc { line-height:1;
        &.typeApp { position:relative; margin:15px 0 33px; padding:0 82px 0 0; font-size:14px; color:#7b7b7b;
          .count { margin:0 2px 0 4px; }
          .btnNormal { position:absolute; right:0; top:-8px; }
        }
        &.typeTheme { position:relative; margin:23px 0 31px; padding:0 0 0 18px; font-size:15px; color:#758ea6; letter-spacing:-.5px;
          &:before { content:''; display:block; position:absolute; left:0; top:4px; width:7px; height:3px; border-left:2px solid #758ea6; border-bottom:2px solid #758ea6; transform:rotateZ(-45deg); }
          .txtWarn { font-size:inherit; margin:0 2px; }
        }
      }

      .btnWrap { display:flex; justify-content:space-between; margin:30px 0 0;
        .btn {
          &Em { min-width:204px; }
          &Submit { min-width:204px; }
        }
      }
    }

    .infoFixed { position:fixed; left:0; top:67px; right:0; z-index:100; width:100%; border-top:1px solid #ececec; border-bottom:1px solid #ececec; box-shadow:0 10px 10px 0 rgba(0, 0, 0, .01); background:#fff; box-sizing:border-box; opacity:0; visibility:hidden; transition:all .3s ease;
      .inner { display:flex; flex-wrap:wrap; overflow:hidden; position:relative; width:100%; max-width:1280px; margin:0 auto; padding:0 20px; box-sizing:border-box;
        .head { overflow:hidden; flex:1 1 0; min-width:0; padding:10px 20px 10px 0; white-space:nowrap; word-break:break-all; text-overflow:ellipsis;
          .image { overflow:hidden; float:left; width:48px; height:48px; border-radius:4px; }
          .image + .title { margin:0 0 0 20px; font-size:16px; line-height:48px; }
          .title { overflow:hidden; white-space:nowrap; word-break:break-all; text-overflow:ellipsis; font-size:22px; color:#000; line-height:26px; }
        }
        .content { padding:10px 0;
          .price { height:48px; font-size:16px; color:#000; line-height:48px;
            .desc { margin:0 15px 0 5px; font-size:inherit; line-height:inherit; }
          }
          > .desc { position:absolute; left:20px; bottom:10px;
            &.typeApp { display:none; }
            &.typeTheme { padding:0 0 0 15px; font-size:12px; color:#758ea6; letter-spacing:-.5px;
              &:before { content:''; display:block; position:absolute; left:0; top:6px; width:7px; height:3px; border-left:2px solid #758ea6; border-bottom:2px solid #758ea6; transform:rotateZ(-45deg); }
              .txtWarn { font-size:inherit; margin:0 2px; }
            }
          }
        }
        .btnWrap { padding:10px 0; margin:0;
          .btn {
            &Like { position:relative; width:48px; height:48px; margin:0 2px 0 0; border:1px solid #d8d8d9; border-radius:4px; transition:all .3s ease; vertical-align:top; @include blind();
              &:before,
              &:after { content:''; display:block; position:absolute; left:50%; top:50%; width:20px; height:18px; background:url('#{$src}/ico_like.png'); background-size:20px auto; transition:all .3s ease; transform:translate(-50%, -50%); }
              &:before { opacity:1; background-position:0 0; }
              &:after { opacity:0; background-position:0 -18px; }
              &:hover { border-color:#f0e5e5; background:#fff5f5;
                &:before { opacity:0; }
                &:after { opacity:1; }
              }
              &.active { border-color:#f0e5e5; background:#fff5f5;
                &:before { opacity:0; }
                &:after { opacity:1; }
              }
            }
            &Submit { min-width:160px; margin:0 0 0 6px; }
          }
        }
      }
      &.fixed { z-index:100; opacity:1; visibility:visible; }
    }
  }
}

@include respond(tablet) {
  .fixed {
    &.scrollUp { transform:translateY(0); }
    &.scrollDown { transform:translateY(-50px); }
  }

  .infoWrap {
    .infoHead,
    .infoThumb,
    .infoListArea,
    .infoPrice { float:none; width:100%; max-width:100%; min-height:0; }

    .infoHead {
      .infoEtc { border-bottom:0; }
    }

    .infoThumb {
      .app { overflow:hidden; position:relative; left:-20px; width:calc(100% + 40px); border-radius:0; }
      .theme {
        .combine { position:relative;
          .pc { max-width:percent(680, 740); }
          .mobile {
            .image { max-width:225px; }
          }
        }
      }
    }

    .infoPrice {
      .btnWrap {
        .btn {
          &Em,
          &Submit { width:calc(50% - 6px); }
        }
      }
    }

    .infoFixed { top:50px; }
  }
}
