@include respond(mobile-tablet) {
  .productAddInfo { position:relative; display:flex; flex-flow:column wrap;
    .information { margin:0 0 35px; box-sizing:border-box;
      .head { margin:0 0 8px;
        .title {  font-size:14px; color:#333; font-weight:500; }
      }
      > .content {
        .desc { font-size:14px; color:#5b5b5b; line-height:20px; }
      }

      &.notice { order:5; min-height:auto;
        .btnNormal.small { width:100%; box-sizing:border-box; }
      }
    }
    .flagGroup { display:flex; width:280px; flex-wrap:wrap; margin:0 -10px;
      .flag { display:inline-block; width:40px; height:40px; margin:0 10px; background:url('../images/sfix_product_flag.png'); background-size:200px auto;
        &.cn { background-position:-50px 0; }
        &.us { background-position:-100px 0; }
        &.jp { background-position:-150px 0; }
        &.vn { background-position:0 -50px; }
        &.es { background-position:-50px -50px; }
        &.pt { background-position:-100px -50px; }
        &.tw { background-position:-150px -50px; }
        &:nth-of-type(4n+4) ~ .flag { margin:20px 10px 0; }
      }
    }
    .colorGroup { display:flex; width:280px; flex-wrap:wrap;
      .colorChip { display:inline-block; width:40px; height:40px; margin:0 20px 0 0; border-radius:50%; border:1px solid rgba(0,0,0,.1); box-sizing:border-box;
        &:nth-of-type(4n+4) ~ .colorChip { margin:20px 20px 0 0; }
      }
    }

    .layout { display:inline-block; min-width:86px; height:86px; margin:3px 0 0; padding:0 10px; text-align:center; border:1px solid #e8e8e8; border-radius:3px; box-sizing:border-box;
      &:before { content:""; display:block; width:25px; height:24px; margin:19px auto 10px; background:url('../images/sfix_product_layout.png') no-repeat; background-size:150px auto; }
      &.secondLeft:before { background-position:-50px 0; }
      &.secondRight:before { background-position:-100px 0; }
      &.third:before { background-position:0 -50px; }
      &.thirdLeft:before { background-position:-50px -50px; }
      &.thirdRight:before { background-position:-100px -50px; }
      .label { font-size:12px; color:#000; }
    }
  }
}

@include respond(pc) {
  .productAddInfo { display:flex; flex-wrap:wrap; position:relative;
    .information { width:calc(100% / 3); margin:0 0 40px; padding:0 20px 0 0; box-sizing:border-box;
      .head { margin:0 0 12px;
        .title { font-size:16px; color:#333; font-weight:500; line-height:20px; }
      }
      > .content { min-height:55px;
        .desc { font-size:16px; color:#333; line-height:24px; }
        .btnNormal { min-width:200px; }
      }
    }
    &.app {
      .notice { min-height:auto; margin-top:-68px; }
    }

    .flagGroup { display:flex; width:280px; flex-wrap:wrap; margin:0 -10px;
      .flag { display:inline-block; width:50px; height:50px; margin:0 10px; background:url('../images/sfix_product_flag.png'); background-size:240px auto;
        &.cn { background-position:-60px 0; }
        &.us { background-position:-120px 0; }
        &.jp { background-position:-180px 0; }
        &.vn { background-position:0 -60px; }
        &.es { background-position:-60px -60px; }
        &.pt { background-position:-120px -60px; }
        &.tw { background-position:-180px -60px; }
        &:nth-of-type(4n+4) ~ .flag { margin:20px 10px 0; }
      }
    }
    .colorGroup { display:flex; width:280px; flex-wrap:wrap;
      .colorChip { display:inline-block; width:40px; height:40px; margin:0 20px 0 0; border-radius:50%;
        &:nth-of-type(4n+4) ~ .colorChip { margin:20px 20px 0 0; }
      }
    }

    .layout { display:inline-block; min-width:72px; height:72px; margin:3px 0 0; padding:0 10px; text-align:center; border:1px solid #e8e8e8; border-radius:4px; box-sizing:border-box;
      &:before { content:""; display:block; width:25px; height:24px; margin:13px auto 8px; background:url('../images/sfix_product_layout.png') no-repeat; background-size:150px auto; }
      &.secondLeft:before { background-position:-50px 0; }
      &.secondRight:before { background-position:-100px 0; }
      &.third:before { background-position:0 -50px; }
      &.thirdLeft:before { background-position:-50px -50px; }
      &.thirdRight:before { background-position:-100px -50px; }
      .label { font-size:11px; color:#000; }
    }

  }
}