@include respond(mobile) {
  .searchHead { padding:36px 20px 40px;
    // .heading { display:flex;
      // .title { font-size:36px; color:#000; }
      // .btnFilter { align-self:flex-end; display:inline-block; height:40px; margin:0 0 0 auto; padding:0 15px; font-size:14px; border-radius:3px; border:1px solid #d8d8d9; box-sizing:border-box;
      //   &.selected { background:#000; }
      // }
    // }
    .heading { @include flex();
      .title { font-size:36px; color:#000; flex:1 1 auto; }
      .btnFilter { display:block; flex:0 0 auto; position:relative; height:40px; padding:0 16px 0 38px; border:1px solid #d8d8d9; border-radius:4px; font-size:14px; transition:all .3s ease;
        &:before { content:''; display:block; position:absolute; left:16px; top:13px; width:14px; height:13px; background-image:url('#{$src}/sfix_filter.png'); background-size:50px auto; background-position:-25px 0; }
      }
    }
    .search { display:flex; flex-wrap:wrap; margin:28px 0 -25px;
      .filter { position:relative; display:inline-block; min-width:70px; margin:0 6px 8px 0; border:1px solid #70bac2; border-radius:15px; box-sizing:border-box;
        .value { display:inline-block; height:30px; padding:8px 34px 7px 15px; font-size:12px; line-height:1; color:#118c99; vertical-align:top; box-sizing:border-box; }
        .btnDelete { @include blind; position:absolute; top:0; right:0; z-index:1; display:inline-block; width:34px; height:31px; border-radius:50%;
          &:before { content:""; position:absolute; top:8px; right:8px; display:block; width:14px; height:14px; margin:0 auto; border-radius:50%; }
        }
      }
      .btnReset { position:relative; display:inline-block; height:32px; padding:6px 34px 7px 15px; font-size:12px; line-height:1; color:#959595; border:1px solid #f5f5f5; background:#f5f5f5; border-radius:15px; box-sizing:border-box;
        &:after { content:""; position:absolute; top:8px; right:8px; display:block; width:14px; height:14px; margin:0 auto; border-radius:50%; background:#b8b8b8; }
      }
      .icoDelete { position:absolute; top:14px; right:13px; z-index:1; display:inline-block; width:6px; height:6px;
        &:before,
        &:after { content:""; display:block; position:absolute; top:0; left:0; width:8px; height:1px; background:#fff; }
        &:before { transform:rotate(-315deg); }
        &:after { transform:rotate(-45deg); }
      }
    }
    &.typeApp {
      .filter { border:1px solid #70bac2;
        .value { color:#118c99; }
        .btnDelete {
          &:before { background:#a0d1d6; }
        }
      }
    }
    &.typeTheme {
      .filter { border:1px solid #af97d8;
        .value { color:#7a51be; }
        .btnDelete {
          &:before { background:#cab9e5; }
        }
      }
    }
  }
}

@include respond(mobile-tablet) {

}

@include respond(tablet-pc) {
  .searchHead { padding:58px 0 40px;
    .heading {
      .title { font-size:48px; color:#000; }
      .btnFilter { display:none; }
    }
    .search { display:flex; margin:10px 0 0;
      .filter { position:relative; display:inline-block; margin:0 8px 0 0;  border-radius:15px; box-sizing:border-box;
        .value { display:inline-block; height:30px; padding:7px 35px 7px 8px; font-size:13px; line-height:1; vertical-align:top; box-sizing:border-box; cursor:default; }
        .btnDelete { @include blind; position:absolute; top:0; right:0; z-index:1; display:inline-block; width:34px; height:30px; border-radius:0 15px 15px 0;
          &:before { content:""; display:block; width:16px; height:16px; margin:0 auto; border-radius:50%; }
        }
      }
      .btnReset { position:relative; display:inline-block; height:30px; padding:6px 35px 7px 8px; font-size:13px; line-height:1; color:#959595; border:1px solid #f5f5f5; background:#f5f5f5; border-radius:15px; box-sizing:border-box;
        &:after { content:""; position:absolute; top:7px; right:9px; display:block; width:16px; height:16px; margin:0 auto; border-radius:50%; background:#b8b8b8; }
      }
      .icoDelete { position:absolute; top:14px; right:14px; z-index:1; display:inline-block; width:8px; height:8px;
        &:before,
        &:after { content:""; display:block; position:absolute; top:0; left:0; width:10px; height:1px; background:#fff; }
        &:before { transform:rotate(-315deg); }
        &:after { transform:rotate(-45deg); }
      }
    }
    &.typeApp {
      .filter { border:1px solid #70bac2;
        .value { color:#118c99; }
        .btnDelete {
          &:before { background:#a0d1d6; }
        }
      }
    }
    &.typeTheme {
      .filter { border:1px solid #af97d8;
        .value { color:#7a51be; }
        .btnDelete {
          &:before { background:#cab9e5; }
        }
      }
    }

  }

}

@include respond(tablet) {
  .searchHead {
    .heading { @include flex();
      .title { flex:1 1 auto; }
      .btnFilter { display:block; flex:0 0 auto; position:relative; height:40px; padding:0 16px 0 38px; border:1px solid #d8d8d9; border-radius:4px; font-size:14px; transition:all .3s ease;
        &:before { content:''; display:block; position:absolute; left:16px; top:13px; width:14px; height:13px; background-image:url('#{$src}/sfix_filter.png'); background-size:50px auto; background-position:-25px 0; }
        &:hover { border:1px solid #1e1e1e; background:#1e1e1e; color:#fff; }
        &:hover:before { background-position:-25px -25px; }
      }
    }
  }
}

@include respond(pc) {

}