/**
 * Slider Common
 */
.sliderWrap { overflow:hidden; position:relative; display:flex; width:100%; height:100%; justify-content:center; align-items:center; text-align:center;
  &.loading { opacity:0; visibility:hidden; }
  .sliderContainer { overflow:hidden; position:relative; z-index:1; width:100%; padding:0; list-style:none;
    .sliderWrapper { display:flex; position:relative; width:100%; height:100%; transition-property:all, transform;
      .slide { flex-shrink:0; position:relative; width:100%; height:100%; box-sizing:border-box; outline:0; transition-property:all, transform; }
    }
    &-coverflow .slideWrapper { perspective:1200px; }
  }

  .sliderPagination { position:absolute; left:0; bottom:0; right:0; z-index:10; width:100%; text-align:center; @include blind();
    > .page { display:inline-block; width:12px; height:12px; margin:0 8px; border:1px solid #797980; border-radius:10px; background:#797980; outline:0; transition:all .3s ease;
      &.active { border-color:#0055fb; background:#0055fb; }
    }

    &-fraction { font-size:14px; color:#797980; text-align:left; line-height:1;
      .current { font-size:14px; font-weight:800; color:#000; }
      .total { font-size:inherit; color:inherit; }
    }
  }

  .sliderCtrl {
    [class*=Wrap] { position:absolute; top:50%; z-index:10; }
    .prevWrap { left:0; }
    .nextWrap { right:0; }
    [class*=slide] { position:absolute; top:50%; z-index:1; width:50px; height:50px; @include blind();
      &:before,
      &:after { content:''; display:block; position:absolute; left:0; top:0; right:0; bottom:0; width:14px; height:14px; margin:auto; border-top:2px solid #999; border-right:2px solid #999; border-left:0 solid transparent; border-bottom:0 solid transparent; transform: translate(-2px, 2px); }
    }
    .slidePrev { left:15px; transform:translateY(-50%) rotate(-135deg); }
    .slideNext { right:15px; transform:translateY(-50%) rotate(45deg); }
  }
}

/**
 * Slider type
 */
@include respond(mobile) {
  .sliderWrap.typeRandom { height:calc(100vw - 60px); padding:0 0 40px;
    .sliderContainer { height:100%;
      .sliderWrapper {
        > .item { overflow:hidden; position:relative; width:100%; height:100%;
          > a { position:absolute; left:0; top:0; z-index:4; width:100%; height:100%; background:transparent; @include blind(); }
          &.randomApp { border:0; border-radius:0; background:#111;
            &:before { content:''; display:block; position:absolute; left:0; top:0; z-index:2; width:100%; height:100%; background:rgba(0, 0, 0, .85); }
            .randomList { @include flex(); position:absolute; font-size:0; line-height:0;
              &.app { z-index:3; left:0; bottom:40px; padding:0 17px;
                .item { flex:1 1 0; overflow:hidden; max-width:120px; max-height:120px; border-radius:4px; margin:0 3px;
                  &.lastItem { position:relative; background:#696969; text-align:center;
                    &:before { content:attr(data-item-count); display:block; position:absolute; left:0; top:50%; width:100%; height:50%; font-size:13px; color:#fff; }
                  }
                }
              }
              &.random { z-index:1; left:0; top:0; width:calc(19.2vw * 5);
                .item { overflow:hidden; position:absolute; width:19.2vw; border-radius:6px;
                  img { width:100%; }
                  &:nth-child(1) { left:-3.1vw; top:-11.25vw; }
                  &:nth-child(2) { left:17.9vw; top:0; }
                  &:nth-child(3) { left:38.9vw; top:-11.25vw; }
                  &:nth-child(4) { left:59.9vw; top:0; }
                  &:nth-child(5) { left:81vw; top:-11.25vw; }
                  &:nth-child(6) { left:-3.1vw; top:9.7vw; }
                  &:nth-child(7) { left:17.9vw; top:21vw; }
                  &:nth-child(8) { left:38.9vw; top:9.7vw; }
                  &:nth-child(9) { left:59.9vw; top:21vw; }
                  &:nth-child(10) { left:81vw; top:9.7vw; }
                }
              }
            }

            .mTitle {
              &.typeRandom {
                .title {
                  strong { color:#fff; }
                }
                .desc { color:#fff; font-weight:800; }
              }
            }
          }

          &.randomTheme { background:#fff;
            .randomList { position:absolute; left:6.5%; bottom:-5.5%; width:calc((33.9vw + 8px) * 3); font-size:0; line-height:0; transform:rotate(-15deg);
              .item { display:inline-block; overflow:hidden; width:33.9vw; margin:0 8px 0 0; border-radius:4px;
                .image { padding:0 0 24px;
                  img { width:100%; }
                }
                &:nth-child(even) .image { padding:24px 0 0; }
              }
            }

            .mTitle {
              &.typeRandom {
                .title {
                  strong { color:#000; }
                }
                .desc { color:#000; font-weight:800; }
              }
            }
          }
          a.all { display:block; position:absolute; left:0; top:0; width:100%; height:100%; }
        }
      }
    }
    .sliderPagination { position:absolute; left:16px; bottom:15px; text-align:left;
      >.page {
        width:8px; height:8px; margin:0 4px;
      }
    }
  }

  .sliderWrap.typeApp {
    .sliderContainer { padding:0 0 50px 20px;
      .sliderWrapper {
        .item { overflow:hidden; width:calc(69.44% + 2px); margin:0 9px 0 0; border:1px solid #eaeaea; border-radius:4px; box-shadow:0 5px 5px 0 rgba(60, 64, 67, .05);
            .image { position:relative;
              img { width:100%; }
              &:after { content:''; display:block; position:absolute; left:0; bottom:0; right:0; width:100%; height:1px; background:rgba(0, 0, 0, 0.03); }
            }
            .inner { position:relative; height:180px; text-align:left;
              a { display:block; position:absolute; left:0; top:0; width:100%; height:100%; padding:15px 15px; box-sizing:border-box; }
              .title { display:block; margin:0 0 1px; font-size:16px; @include text-ellipsis(16px, 1); }
              .subTitle { display:block; margin:0 0 1px; font-size:11px; color:#758ea6; }
              .price { display:block; margin:0 0 40px; font-size:10px; }
              .description { font-size:12px; line-height:17px; }
            }
        }
      }
    }
    .sliderPagination { left:20px; bottom:30px; right:auto; text-indent:0;
      &-fraction { font-size:12px;
        .current { font-size:12px; }
        .total { font-size:12px; }
      }
    }
    .sliderCtrl { display:none; }
  }

  .sliderWrap.typeTheme {
    .sliderContainer { padding:0 0 50px 20px;
      .sliderWrapper {
        .item { overflow:hidden; width:calc(69.44% + 2px); margin:0 9px 0 0; border:1px solid #eaeaea; border-radius:4px; box-shadow:0 5px 5px 0 rgba(60, 64, 67, .05);
          .image { position:relative;
            img { width:100%; }
            &:after { content:''; display:block; position:absolute; left:0; bottom:0; right:0; width:100%; height:1px; background:rgba(0, 0, 0, 0.03); }
          }
          .inner { position:relative; height:92px; text-align:left;
            a { display:block; position:absolute; left:0; top:0; width:100%; height:100%; padding:18px 15px; box-sizing:border-box; }
            .title { display:block; margin:0 0 3px; font-size:16px; font-weight:500; line-height:1; @include text-ellipsis(16px, 1); }
            .subTitle { display:block; font-size:11px; color:#5398f5; }
            .price { display:block; font-size:12px; color:#797980; }
            .btnSample { display:none; }
          }
        }
      }
    }
    .sliderPagination { left:20px; bottom:30px; right:auto; text-indent:0;
      &-fraction { font-size:12px;
        .current { font-size:12px; }
        .total { font-size:12px; }
      }
    }
    .sliderCtrl { display:none; }
  }

  .sliderWrap.typeList {
    .sliderContainer {
      .sliderWrapper { display:block; overflow:hidden; position:relative; left:-10px; width:calc(100% - 20px); padding:0 20px;
        .item { overflow:hidden; position:relative; float:left; width:50%; max-width:364.5px; padding:0 10px 10px; box-sizing:border-box;
          @include more('.item', 4);

          .image { overflow:hidden; position:relative; border:1px solid #eaeaea; border-radius:4px; box-shadow:0 5px 5px 0 rgba(60, 64, 67, .05);
            img { width:100%; }
            &:after { content:''; display:block; position:absolute; left:0; bottom:0; right:0; width:100%; height:1px; background:rgba(0, 0, 0, 0.03); }
          }
          .inner { position:relative; height:92px; box-sizing:border-box; text-align:left;
            a { display:block; position:absolute; left:0; top:0; width:100%; height:100%; padding:18px 0; box-sizing:border-box; }
            .title { display:block; margin:0 0 3px; font-size:16px; font-weight:500; line-height:1; @include text-ellipsis(16px, 1); }
            .subTitle { display:block; font-size:11px; color:#5398f5; }
            .price { display:block; font-size:12px; color:#797980; }
            .btnSample { display:none; }
          }
        }
      }
    }
    .sliderPagination { display:none; }
    .sliderCtrl { display:none; }
  }

  .sliderWrap.typeZigzag {
    .sliderContainer { padding:0 0 50px 20px;
      .sliderWrapper {
        .item { width:36.65%; margin:0 2.5% 0 0; box-shadow:0 5px 5px 0 rgba(60, 64, 67, .05);
          .image { position:relative; width:100%; height:100%;
            a { display:block; width:100%; height:100%; }
          }
        }
      }
    }
    .sliderPagination { display:none; }
    .sliderCtrl { display:none; }
  }

  .combineWrap { position:relative; width:100%;
    .combineThemeFrame { display:none; }
    .combineThumbsFrame { display:none; }
  }

  .combineDetail { display:none; }

  .sliderWrap.typeCombine {
    &Theme {
      .sliderContainer { padding:0 0 50px 20px;
        .sliderWrapper {
          .item { width:88.88%; border-radius:4px; margin:0 10px 0 0; padding-top: 69.375%; background:#000;
            .combineTitle { display:block; position:absolute; left:20px; top:20px; font-size:13px; color:#fff; text-align:left;
              span { display:block; font-size:13px; color:#3a3a3a; }
            }
            .image { position:absolute; left:0; top:0; width:100%; height:100%;
              a { display:block; position:absolute; left:0; top:0; width:100%; height:100%;
                .pc { display:block; overflow:hidden; position:absolute; right:20px; bottom:0; width:65.625%; padding-top:63.125%;
                  &:before { content:''; display:block; overflow:hidden; position:absolute; left:0; top:0; right:0; width:100%; height:12px; border-radius:4px 4px 0 0; box-sizing:border-box; background:url('#{$src}/combine_theme_frame.jpg') no-repeat left center; background-size:cover; }
                  img { position:absolute; left:0; top:12px; width:100%; }
                }
                .mobile { display:block; overflow:hidden; position:absolute; left:30px; bottom:20px; max-width:140px; width:21.875%; min-width:70px; border:4px solid #000; border-radius:20px;
                  img { width:100%; }
                }
              }
            }
          }
        }
      }
      .sliderPagination { left:20px; bottom:30px; right:auto; text-indent:0;
        &-fraction { font-size:12px;
          .current { font-size:12px; }
          .total { font-size:12px; }
        }
      }
      .sliderCtrl { display:none; }
    }
    &Thumbs { display:none; }
  }
}

@include respond(tablet-pc) {
  .sliderWrap.typeSimple { width:100%; max-width:1662px; margin:0 auto;
    .sliderContainer { max-width:1200px;
      .sliderWrapper {
        .item {
          .image { position:relative; width:100%; height:100%;
            a { display:block; width:100%; height:100%;
              img { width:100%; }
            }
          }
        }
      }
    }
    .sliderPagination { display:none; }
    .sliderCtrl {
      .prevWrap { left:-10px; }
      .nextWrap { right:-10px; }

      [class*=Wrap] { background:transparent; }
      [class*=slide] { width:75px; height:75px; top:50%;
        &:before,
        &:after { width:60px; height:60px; margin:auto; border-top:1px solid #454545; border-right:1px solid #454545; }
      }
    }
  }

  .sliderWrap.typeScreenShot { width:100%; max-width:1920px; margin:0 auto;
    .sliderContainer { max-width:1458px; height:100%;
      .sliderWrapper {
        .item {
          .image { overflow:hidden; position:relative; width:100%; height:100%;
            a { display:flex; align-items:center; justify-content:center; width:100%; height:100%;
              img { width:auto; max-height:100%; }
            }
          }
        }
      }
    }
    .sliderPagination { display:none; }
    .sliderCtrl {
      .prevWrap { left:30px; }
      .nextWrap { right:30px; }

      [class*=Wrap] { background:transparent; }
      [class*=slide] { width:64px; height:64px; top:50%; border-radius:50%; background:#000;
        &:before,
        &:after { width:9px; height:9px; margin:auto; border-top:3px solid #fff; border-right:3px solid #fff; }
      }
    }
  }

  .sliderWrap.typeRandom { width:100%; max-width:1444px; margin:0 auto;
    .sliderContainer { padding:0 0 92px;
      .sliderWrapper { @include flex(space-between);
        > .item { overflow:hidden; position:relative; width:calc(50% - 40px); margin:0 20px; height:512px; border:1px solid #eaeaea; border-radius:4px;
          > a { position:absolute; left:0; top:0; z-index:4; width:100%; height:100%; background:transparent; font-size:0; color:transparent; }
          &.randomApp { background:#111;
            &:before { content:''; display:block; position:absolute; left:0; top:0; z-index:2; width:100%; height:100%; background:rgba(0, 0, 0, .85); }

            .randomList { position:absolute; font-size:0; line-height:0;
              &.app { z-index:3; left:33px; bottom:60px;
                .item { display:inline-block; overflow:hidden; margin:0 8px 0 0; border-radius:4px;
                  &.lastItem { position:relative; background:#696969; text-align:center;
                    &:before { content:attr(data-item-count); display:block; position:absolute; left:0; top:50%; width:100%; height:50%; font-size:15px; color:#fff; }
                  }
                }
              }
              &.random { z-index:1; left:0; top:0;
                .item { display:inline-block; overflow:hidden; position:absolute; width:148px; height:148px; margin:7px 7px 7px 0; border-radius:12px;
                  img { width:100%; }
                  &:nth-child(1) { left:-42px; top:-92px; }
                  &:nth-child(2) { left:113px; top:-14px; }
                  &:nth-child(3) { left:268px; top:-92px; }
                  &:nth-child(4) { left:423px; top:-14px; }
                  &:nth-child(5) { left:578px; top:-92px; }
                  &:nth-child(6) { left:-42px; top:63px; }
                  &:nth-child(7) { left:113px; top:141px; }
                  &:nth-child(8) { left:268px; top:63px; }
                  &:nth-child(9) { left:423px; top:141px; }
                  &:nth-child(10) { left:578px; top:63px; }
                }
              }
            }

            .mTitle {
              &.typeRandom {
                .title {
                  strong { color:#fff; }
                }
                .desc { color:#fff; font-weight:800; }
              }
            }
          }

          &.randomTheme {
            .randomList { position:absolute; left:6.5%; bottom:-5.5%; width:calc(235px * 3); font-size:0; line-height:0; transform:rotate(-15deg);
              .item { display:inline-block; overflow:hidden; width:227px; margin:0 8px 0 0; border-radius:4px;
                .image { padding:0 0 42px;
                  img { width:100%; }
                }
                &:nth-child(even) .image { padding:42px 0 0; }
              }
            }

            .mTitle {
              &.typeRandom {
                .title {
                  strong { color:#000; }
                }
                .desc { color:#000; font-weight:800; }
              }
            }
          }

          a.all { display:block; position:absolute; left:0; top:0; width:100%; height:100%; }
        }
      }
    }
    .sliderPagination { display:none; }
  }

  .sliderWrap.typeApp { overflow:visible; width:100%; max-width:1440px; margin:0 auto;
    .sliderContainer { width:100%; max-width:1440px; padding:0 0 92px;
      .sliderWrapper {
        .item { overflow:hidden; width:calc(25% - 34px); max-width:326px; margin:0 17px; border:1px solid #eaeaea; border-radius:4px; transition:all .3s ease;
          &:hover { box-shadow:0 18px 18px 0 rgba(92, 95, 101, .2); }

          .image { position:relative;
            &:after { content:''; display:block; position:absolute; left:0; bottom:0; right:0; width:100%; height:1px; background:rgba(0, 0, 0, 0.03); }
          }
          .inner { position:relative; height:226px; text-align:left;
            a { display:block; position:absolute; left:0; top:0; width:100%; height:100%; padding:30px 20px; box-sizing:border-box; }
            .title { display:block; margin:0 0 3px; font-size:20px; font-weight:500; @include text-ellipsis(24, 2); }
            .subTitle { display:block; margin:0 0 7px; font-size:13px; color:#758ea6; }
            .price { display:block; margin:0 0 20px; font-size:14px; color:#797980; }
            .description { font-size:14px; color:#797980; @include text-ellipsis(20, 3); }
          }
        }
      }
    }
    .sliderPagination { display:none; }
    .sliderCtrl { display:inline-block; position:absolute; top:-32px; right:17px; height:0;
      .prevWrap,
      .nextWrap  { display:inline-block; position:relative; left:auto; top:auto; right:auto; }
      .prevWrap { margin:0 3px 0 0; }
      .nextWrap { margin:0 0 0 3px; }
      [class*=slide] { display:inline-block; position:relative; left:auto; top:auto; right:auto; width:32px; height:32px; border:1px solid #e9e9e9; border-radius:50%; background:#fff;
        &:before,
        &:after { width:5px; height:5px; transform:translate(-1px, 1px); }
      }
    }
  }

  .sliderWrap.typeTheme { overflow:visible; width:100%; max-width:1440px; margin:0 auto;
    .sliderContainer { width:100%; max-width:1440px; padding:0 0 92px;
      .sliderWrapper {
        .item { overflow:hidden; width:calc(25% - 34px); max-width:326px; margin:0 17px; border:1px solid #eaeaea; border-radius:4px; transition:all .3s ease;
          &:hover { box-shadow:0 18px 18px 0 rgba(92, 95, 101, .2); }

          .image { position:relative;
            &:after { content:''; display:block; position:absolute; left:0; bottom:0; right:0; width:100%; height:1px; background:rgba(0, 0, 0, 0.03); }
          }
          .inner { position:relative; height:136px; text-align:left;
            a { display:block; position:absolute; left:0; top:0; width:100%; height:100%; padding:30px 20px; box-sizing:border-box; }
            .title { display:block; margin:0 0 3px; font-size:20px; font-weight:500; line-height:1; }
            .subTitle { display:block; margin:0 0 21px; font-size:13px; color:#5398f5; }
            .price { display:block; font-size:14px; color:#797980; }
            .btnSample { overflow:hidden; display:block; position:absolute; right:16px; bottom:16px; width:100px; height:36px; padding:11px; box-sizing:border-box; background:#eff7ff; border-radius:4px; font-size:13px; color:#108af9; text-align:center; line-height:0; transition:all 0.3s ease;
              &:hover { background:#0055fb; color:#fff; }
            }
          }
        }
      }
    }
    .sliderPagination { display:none; }
    .sliderCtrl { display:inline-block; position:absolute; top:-32px; right:17px; height:0;
      .prevWrap,
      .nextWrap  { display:inline-block; position:relative; left:auto; top:auto; right:auto; }
      .prevWrap { margin:0 3px 0 0; }
      .nextWrap { margin:0 0 0 3px; }
      [class*=slide] { display:inline-block; position:relative; left:auto; top:auto; right:auto; width:32px; height:32px; border:1px solid #e9e9e9; border-radius:50%; background:#fff;
        &:before,
        &:after { width:5px; height:5px; transform:translate(-1px, 1px); }
      }
    }
  }

  .sliderWrap.typeList { overflow:visible; width:100%; max-width:1440px; margin:0 auto;
    .sliderContainer { width:100%; max-width:1440px; padding:0 0 92px;
      .sliderWrapper {
        .item { overflow:hidden; width:calc(25% - 34px); max-width:326px; margin:0 17px; border:1px solid #eaeaea; border-radius:4px; transition:all .3s ease;
          &:hover { box-shadow:0 18px 18px 0 rgba(92, 95, 101, .2); }

          .image { position:relative;
            &:after { content:''; display:block; position:absolute; left:0; bottom:0; right:0; width:100%; height:1px; background:rgba(0, 0, 0, 0.03); }
          }
          .inner { position:relative; height:136px; text-align:left;
            a { display:block; position:absolute; left:0; top:0; width:100%; height:100%; padding:30px 20px; box-sizing:border-box; }
            .title { display:block; margin:0 0 3px; font-size:20px; font-weight:500; line-height:1; }
            .subTitle { display:block; margin:0 0 21px; font-size:13px; color:#5398f5; }
            .price { display:block; font-size:14px; color:#797980; }
            .btnSample { overflow:hidden; display:block; position:absolute; right:16px; bottom:16px; width:100px; height:36px; padding:11px; box-sizing:border-box; background:#eff7ff; border-radius:4px; font-size:13px; color:#108af9; text-align:center; line-height:0; transition:all 0.3s ease;
              &:hover { background:#0055fb; color:#fff; }
            }
          }
        }
      }
    }
    .sliderPagination { display:none; }
    .sliderCtrl { display:inline-block; position:absolute; top:-32px; right:17px; height:0;
      .prevWrap,
      .nextWrap  { display:inline-block; position:relative; left:auto; top:auto; right:auto; }
      .prevWrap { margin:0 3px 0 0; }
      .nextWrap { margin:0 0 0 3px; }
      [class*=slide] { display:inline-block; position:relative; left:auto; top:auto; right:auto; width:32px; height:32px; border:1px solid #e9e9e9; border-radius:50%; background:#fff;
        &:before,
        &:after { width:5px; height:5px; transform:translate(-1px, 1px); }
      }
    }
  }

  .sliderWrap.typeZigzag { width:100%; max-width:1688px; margin:0 auto;
    .sliderContainer { width:100%; max-width:1440px; padding:50px 0 142px;
      .sliderWrapper {
        .item { width:22.5%; max-width:324px; margin:0 1.25%; box-sizing:border-box;
          &:nth-child(even) {
            .image { margin-bottom:-50px; }
          }
          &:nth-child(odd) {
            .image { margin-top:-50px; }
          }
          .image { position:relative; width:100%; height:100%; box-shadow:0 15px 15px 0 rgba(92, 95, 101, .2);
            a { display:block; width:100%; height:100%; }
          }
        }
      }
    }

    .sliderCtrl {
      .prevWrap { left:0; }
      .nextWrap { right:0; }

      [class*=Wrap] { background:transparent; }
      [class*=slide] { width:75px; height:75px; top:calc(50% - 40px);
        &:before,
        &:after { width:49px; height:49px; margin:auto; border-top:1px solid #4b4b4b; border-right:1px solid #4b4b4b; }
      }
    }
  }

  .combineWrap { position:relative; width:100%; max-width:1404px; height:100%; margin:0 auto;
    .combineThemeFrame { overflow:hidden; position:absolute; left:0; top:0; right:0; z-index:10; width:100%; max-width:1082px; height:100%; max-height:24px; margin:0 auto; border:1px solid #e6e6e6; border-radius:6px 6px 0 0; box-sizing:border-box; background:url('#{$src}/combine_theme_frame.jpg') no-repeat left center; background-size:cover; }
  }

  .combineDetail { padding:45px 0 100px; text-align:center;
    .btnDetail { padding:12px 65px; border:1px solid #d8d8d9; border-radius:4px; font-size:14px; color:#7b7b7b; text-align:center; line-height:1; }
  }

  .sliderWrap.typeCombine {
    &Theme { width:100%; max-width:1404px; padding:0 0 10px;
      .sliderContainer { max-width:1082px; padding:24px 0 0; border:1px solid #e6e6e6; border-top:0; border-radius:6px; box-sizing:border-box; background:#f6f7fb; box-shadow:0 1px 5px 0 rgba(0, 0, 0, 0.02);
        .sliderWrapper {
          .item { border-radius:4px;
            .combineTitle { display:none; }
            .image { position:relative; width:100%; height:100%;
              a { display:block; width:100%; height:100%;
                .pc { display:block; }
                .mobile { display:none; }
                img { width:100%; }
              }
            }
          }
        }
      }
      .sliderPagination { display:none; }
      .sliderCtrl {
        .prevWrap { left:0; }
        .nextWrap { right:0; }

        [class*=Wrap] { background:transparent; }
        [class*=slide] { width:72px; height:72px; top:calc(50% + 40px);
          &:before,
          &:after { width:48px; height:48px; margin:auto; border-top:1px solid #454545; border-right:1px solid #454545; }
        }
      }
    }

    &Thumbs { overflow:hidden; position:absolute; right:7.264957264957266%; bottom:-0.8547008547008548%; z-index:11; width:19.37321937321937%; max-width:272px; height:auto; max-height:482px; border:6px solid #000; border-radius:23px; background:#f6f7fb;
      .sliderWrapper {
        .item {
          .image {
            a { display:block; width:100%; height:100%; }
          }
        }
      }
    }
  }
}

@include respond(tablet) {
  .sliderWrap.typeRandom {
    .sliderContainer { margin:0 auto 75px; padding:0 10px;
      .sliderWrapper {
        > .item { width:calc(50% - 20px); height:384px; margin:0 10px;

          &.randomApp {
            .randomList {
              &.app { @include flex(); left:0; bottom:45px; padding:0 20.5px;
                .item { flex:1 1 0; width:60px; margin:0 4px;
                  &.lastItem {
                    &:before { font-size:14px; }
                  }
                }
              }
              &.random {
                .item { display:inline-block; overflow:hidden; position:absolute; width:111px; height:111px; margin:5.25px 5.25px 5.25px 0; border-radius:12px;
                  img { width:100%; }
                  &:nth-child(1) { left:-31.5px; top:-69px; }
                  &:nth-child(2) { left:84.75px; top:-10.5px; }
                  &:nth-child(3) { left:201px; top:-69px; }
                  &:nth-child(4) { left:317.25px; top:-10.5px; }
                  &:nth-child(5) { left:433.5px; top:-69px; }
                  &:nth-child(6) { left:-31.5px; top:47.25px; }
                  &:nth-child(7) { left:84.75px; top:105.75px; }
                  &:nth-child(8) { left:201px; top:47.25px; }
                  &:nth-child(9) { left:317.25px; top:105.75px; }
                  &:nth-child(10) { left:433.5px; top:47.25px; }
                }
              }
            }
          }

          &.randomTheme {
            .randomList { left:6.5%; bottom:-5.5%; width:calc(176.25px * 3);
              .item { display:inline-block; overflow:hidden; width:170.25px; margin:0 6px 0 0; border-radius:4px;
                .image { padding:0 0 42px;
                  img { width:100%; }
                }
                &:nth-child(even) .image { padding:42px 0 0; }
              }
            }
          }
        }
      }
    }
  }

  .sliderWrap.typeApp {
    .sliderContainer { padding:0 10px 69px;
      .sliderWrapper {
        .item { width:calc(33.33% - 20px); max-width:354px; margin:0 10px;
          .image {
            img { width:100%; }
          }
          .inner { height:169px;
            a { padding:22.5px 15px; }
            .title { margin:0 0 2px; font-size:16px; @include text-ellipsis(22, 1); }
            .subTitle { display:block; margin:0 0 15.75px; font-size:11px; }
            .price { font-size:11px; }
            .description { font-size:11px; @include text-ellipsis(17, 2); }
          }
        }
      }
    }
    .sliderCtrl { right:20px; }
  }

  .sliderWrap.typeTheme {
    .sliderContainer { padding:0 10px 69px;
      .sliderWrapper {
        .item { width:calc(33.33% - 20px); max-width:354px; margin:0 10px;
          .image {
            img { width:100%; }
          }
          .inner { height:102px;
            a { padding:22.5px 15px; }
            .title { margin:0 0 2px; font-size:15px; }
            .subTitle { display:block; margin:0 0 15.75px; font-size:10px; }
            .price { font-size:10px; }
            .btnSample { position:absolute; right:12px; bottom:12px; width:75px; height:27px; padding:8px;font-size:10px; }
          }
        }
      }
    }
    .sliderCtrl { right:20px; }
  }

  .sliderWrap.typeList {
    .sliderContainer { padding:0 10px 69px;
      .sliderWrapper {
        .item { width:calc(33.33% - 20px); max-width:354px; margin:0 10px;
          .image {
            img { width:100%; }
          }
          .inner { height:102px;
            a { padding:22.5px 15px; }
            .title { margin:0 0 2px; font-size:15px; }
            .subTitle { display:block; margin:0 0 15.75px; font-size:10px; }
            .price { font-size:10px; }
            .btnSample { position:absolute; right:12px; bottom:12px; width:75px; height:27px; padding:8px;font-size:10px; }
          }
        }
      }
    }
    .sliderCtrl { right:20px; }
  }

  .sliderWrap.typeZigzag {
    .sliderContainer { padding:50px 10px 142px;
      .sliderWrapper {
        .item { width:calc(33.33% - 20px); max-width:354px; margin:0 10px; }
      }
    }

    .sliderCtrl { display:none; }
  }

  .combineDetail { padding:33.75px 0 75px;
    .btnDetail { padding:9px 48.75px; }
  }
}

/**
 * exceptions for slider
 */
@media (max-width: 1640px) {
  .sliderWrap.typeZigzag {
    .sliderCtrl { animation:fadeOut .6s linear forwards; }
  }
}

@media (min-width: 1641px) {
  .sliderWrap.typeZigzag {
    .sliderCtrl { animation:fadeIn .6s linear forwards; }
  }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; z-index:10; }
}

@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; z-index:-1; }
}
