@include respond(mobile) {
  .stateBar { display:flex; margin:18px 0 30px; background:#fff;
    .left {
      .total { font-size:15px; line-height:18px; }
    }
    .right { margin:0 0 0 auto; }
  }
  /* reset */
  .mTitle + .gInner > .stateBar {
    margin-top:15px;
  }
}

@include respond(mobile-tablet) {

}

@include respond(tablet) {

}

@include respond(tablet-pc) {
  .stateBar { display:flex; margin:0 0 24px;
    .left {
      .total { margin:16px 0 0; font-size:16px; }
    }
    .right { margin:0 0 0 auto; }
  }
  /* reset */
  .mTitle.gSecond + .gInner > .stateBar {
    margin-top:-50px;
  }

}

@include respond(pc) {

}