@include respond(mobile) {
  .subCategory { padding:33px 20px 70px;
    .heading {
      .title { margin:0 0 30px; font-size:18px; color:#000; font-weight:bold; }
    }
    .category { display:flex; flex-wrap:wrap; margin:0 -20px;
      .item { width:25%; max-width:100px; margin:0 0 31px; text-align:center;
        .thumbnail { width:40px; height:40px; margin:0 auto 10px;
          img { width:100%; }
        }
      }
      .item .label { display:block; font-size:11px; color:#5b5b5b; font-weight:400; }
    }
  }
}

@include respond(tablet-pc) {
  .subCategory { padding:160px 0 70px; border-top:1px solid #e8e8e8;
    .heading { margin:0 0 80px; text-align:center;
      .title { font-size:28px; color:#000; font-weight:bold; }
     }
    .category { display:flex; flex-wrap:wrap; max-width:860px; margin:0 auto;
      .item { width:20%; margin:0 0 90px; text-align:center;
        .thumbnail { width:60px; height:60px; margin:0 auto 10px;
          img { width:100%; }
        }
      }
      .item .label { display:block; font-size:15px; color:#5b5b5b; font-weight:400; }
     }
    &.theme .category { max-width:1260px; }
    &.theme .item { width:(100%/7); }
  }
}