@include respond(mobile) {
  .subVisual {
    height:360px; padding:115px 20px 0; box-sizing:border-box; background-size:cover; background-position:center;
    &.app { background-image:url('../images/bg_submain_visual_app.png'); }
    &.theme { background-image:url('../images/bg_submain_visual_theme.png'); }
    h2.title { font-size:30px; line-height:40px; color:#fff; font-weight:400; }
    .label { display:block; margin:0 0 8px; font-size:14px; color:#fff; font-weight:800; }
    .keyword { overflow:hidden; height:48px; margin:30px 0 0;
      .value { display:inline-block; min-width:104px; height:48px; margin:0 5px 5px; line-height:46px; padding:0 24px; font-size:15px; color:#fff; font-weight:400; text-align:center; text-decoration:none; border:1px solid rgba(255,255,255, 0.6); box-sizing:border-box; border-radius:25px; }
    }
  }
}

@include respond(mobile-tablet) {

}

@include respond(tablet) {

}

@include respond(tablet-pc) {
  .subVisual {
    height:320px; padding:96px 0 0; box-sizing:border-box; text-align:center; background-size:cover; background-position:center;
    &.app { background-image:url('../images/bg_submain_visual_app.png'); }
    &.theme { background-image:url('../images/bg_submain_visual_theme.png'); }
    h2.title { font-size:36px; line-height:60px; color:#fff; font-weight:400; }
    .label { display:block; margin:0 0 8px; font-size:14px; color:#fff; font-weight:800; }
    .keyword { overflow:hidden; height:48px; margin:30px 0 0;
      .value { display:inline-block; min-width:104px; height:48px; margin:0 5px 5px; line-height:46px; padding:0 24px; font-size:15px; color:#fff; font-weight:400; text-align:center; text-decoration:none; border:1px solid rgba(255,255,255, 0.6); box-sizing:border-box; border-radius:25px; }
    }
  }
}

@include respond(pc) {

}

