/**
 * NOTE = Sass file name (https://sass-lang.com/guide) - Partials
 */

@charset 'utf-8';

@import 'common/variables';
@import 'common/reset';
@import 'common/mixins';

@import 'fonts/myriadpro';

@import 'layout';
@import 'component';
