extends /layouts/layout
include /components/common/mTitle
include /components/common/mLayer
include /components/common/mEmpty
include /components/common/mPagination
include /components/slider
include /components/list
include /components/productInfoHead
include /components/productInfoThumbs
include /components/productInfoList
include /components/productInfoPrice
include /components/productInfoFixed
include /components/productReview
include /components/productMerit
include /components/productDetail
include /components/productPrice
include /components/productAddInfo
include /components/productFaqList
include /components/productKeyword
include /components/partnerInfo
include /components/screenShot
include /components/appRanking
include /components/grade

block append contents
    div.detail.typeApp
        // 상품 이미지 & 상품정보
        section.productThumbsAndInfoArea
            div.gInside
                div.infoWrap
                    +productInfoHead('앱상품제목열다섯줄바꿈가이드')
                    +productInfoThumbs('app', 'pc')
                    +productInfoList('app')
                    +productInfoPrice('app')
                    +productInfoFixed('app', '앱상품제목열다섯자줄바꿈없이노출가이드')

        // 스크린샷
        section.productScreenShotArea
            +mTitle('typeProduct', '스크린샷')
            div.gInside
                +screenShot('https://orangemsg.com/cafe24/app/images/cafe24_detail.png', 'https://orangemsg.com/cafe24/app/images/cafe24_detail_add.png', 'https://orangemsg.com/cafe24/app/images/cafe24_detail_add.png', 'https://orangemsg.com/cafe24/app/images/cafe24_detail_add.png', 'https://orangemsg.com/cafe24/app/images/cafe24_detail_add.png')

        //상품상세정보 상단
        section.productMeritArea
            div.gInside
                +productMerit()

        //상품상세
        section.productDetailArea
            div.gInside
                +productDetail()

        //가격정보
        section.productPriceArea
            +mTitle('typeProduct', '가격')
            div.gInside
                +productPrice()

        //FAQ
        section.productFaqArea
            +mTitle('typeProduct', 'FAQ')
            div.gInside
                +faqList()
        // 상품 리뷰
        section.productReviewArea#productReviewArea
            +mTitle('typeProduct', '리뷰')
            div.gInside
                +productReview()
                +mEmpty('typeReview')

        //상품추가정보
        section.productAddInfoArea
            +mTitle('typeProduct', '상품추가정보')
            div.gInside
                +productAddInfo('app')

        //파트너정보
        section.partnerInfoArea
            +mTitle('typeProduct', '파트너정보')
            div.gInside
                +partnerInfo()

        //연관검색어
        section.productKeywordArea
            +mTitle('typeProduct', '연관검색어')
            div.gInside
                +productKeyword()

        // 관련 앱
        - var relativeApp1 = 'relativeApp1';
        - var relativeApp2 = 'relativeApp2';
        - var relativeAppData = require('./src/js/data/relativeApp.js');
        section.relativeAppArea
            +mTitle('typeProduct', '유사한 앱 (<span class="count">7</span>)')
            +slider(relativeApp1, relativeAppData, 'typeApp', 'app', true, true)

            +mTitle('typeProduct', '함께 설치한 앱 (<span class="count">16</span>)')
            +slider(relativeApp2, relativeAppData, 'typeApp', 'app', true, true)

        section.appRankingArea
            div.gInside
                +appRanking()
            +mPagination('typeMore', 'RMB')

block append wrap
  +mLayer('mLayerInstall', '쇼핑몰 아이디 입력', '입력한 쇼핑몰 아이디를 통해 구매 및 문의가 가능합니다.')
  +mLayer('mLayerReview', '리뷰 작성하기')
  +mLayer('mLayerQuestion', '문의하기')
  +mLayer('mLayerAlert')
  div.dimmed

block append body
  script(src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js")
  script(src="/js/ui/product.js")
  script(src="/js/ui/productAppSlide.js")