extends /layouts/layout
include /components/slider
include /components/list

block append contents

block append body
  script(src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js")
  script(src="/js/ui/product.js")