extends /layouts/layout
include /components/common/mTitle
include /components/productInfoHead
include /components/productInfoThumbs
include /components/productInfoList
include /components/productInfoFixed
include /components/slider
include /components/list

block append contents
  section.detailArea
    //- div.gInner
    //-   +productInfoHead('앱상품제목열다섯줄바꿈가이드')
    //-   +productInfoThumbs('app', 'pc')
    //-   +productInfoList('app')
    //-   +productInfoFixed('app', '앱상품제목열다섯자줄바꿈없이노출가이드')

    div.gInner
      +productInfoHead('테마상품제목열다섯줄바꿈가이드')
      +productInfoThumbs('theme', 'pc')
      +productInfoList('theme')
      +productInfoFixed('theme', '테마상품제목열다섯자줄바꿈없이노출가이드')

    //- div.gInner
    //-   +productInfoHead('테마상품제목열다섯줄바꿈가이드')
    //-   +productInfoThumbs('theme', 'mobile')
    //-   +productInfoList('theme')
    //-   +productInfoFixed('theme', '테마상품제목열다섯자줄바꿈없이노출가이드')

    //- div.gInner
    //-   +productInfoHead('테마상품제목열다섯줄바꿈가이드')
    //-   +productInfoThumbs('theme', 'combine')
    //-   +productInfoList('theme')
    //-   +productInfoFixed('theme', '테마상품제목열다섯자줄바꿈없이노출가이드')

  - var relativeApp1 = 'relativeApp1';
  - var relativeApp2 = 'relativeApp2';
  - var relativeAppData = require('./src/js/data/relativeApp.js');
  section.relativeThemeArea
    +mTitle('typeLeft', '유사한 앱 (<span class="count">7</span>)')
    +slider(relativeApp1, relativeAppData, 'typeApp', 'app', true, true)

    +mTitle('typeLeft', '함께 설치한 앱 (<span class="count">16</span>)')
    +slider(relativeApp2, relativeAppData, 'typeApp', 'app', true, true)

  - var relativeTheme1 = 'relativeTheme1';
  - var relativeTheme2 = 'relativeTheme2';
  - var relativeThemeData = require('./src/js/data/relativeTheme.js');
  section.relativeThemeArea
    +mTitle('typeLeft', '유사한 디자인 (<span class="count">7</span>)')
    +slider(relativeTheme1, relativeThemeData, 'typeTheme', 'theme', true, true)

    +mTitle('typeLeft', '<a href="#" class="txtEm">패션/의류</a> 인기디자인 (<span class="count">16</span>)')
    +slider(relativeTheme2, relativeThemeData, 'typeTheme', 'theme', true, true)

block append body
  script(src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js")
  script(src="/js/ui/product.js")