extends /layouts/layout
include /components/slider
include /components/list

block append contents
  div 상품 상세 (테마)

block append body
  script(src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js")
  script(src="/js/ui/productTheme.js")