extends /layouts/layout
include /components/common/mTitle
include /components/slider
include /components/list

block append contents
  style.
    .gInside { overflow:hidden; width:1240px; margin:0 auto; border:1px solid red; }
    .detailArea { display:none; padding:60px 0 0; }

  section.detailArea
    div.gInside
      div.gridSet
        div.productThumb
          div.app
            div.frame
              iframe(width="640" height="360" src="https://www.youtube.com/embed/iaSnd6CNCDE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          div.image
            div.theme
              div.pc
                div.frame
                div.image
                  img(src="/images/@img_pc_thumb.jpg", alt="680/548")
              div.mobile
                div.imgea
                  img(src="/images/@img_mobile_thumb1.jpg", alt="248/440")
                  img(src="/images/@img_mobile_thumb2.jpg", alt="248/440")
              div.combine
                div.pc
                  div.frame
                  div.image
                    img(src="/images/@img_pc_thumb.jpg", alt="680/548")

        div.productInfo
          strong.title 앱상품제목열다섯자줄바꿈가이드
          div.infoEtc
            span.grade 4.8
            span.review 53개의 리뷰
            span.wish 좋아요
          ul.infoList
            li
              p
                strong 파트너사
                span 주식회사 크리마랩(CREAM Lab)
                button.btnNormal.small 문의하기
            li
              p
                strong 카테고리
                span 마케팅, 상품/디스플레이
            li
              p
                strong 샘플
          div.infoPrice
            strong 25,000
              span 원
            span  (세금포함) ~
            button.btnNormal.small 가격옵션
            p.desc.typeApp 최초 설치 시 00일간 무료 사용가능
            p.desc.typeTheme
              | 이 상품은
              span PC와 Mobile 테마를 모두 제공
              | 하는 세트형 테마입니다.
            strong 무료
            span  (인앱결제)
          div.btnWrap
            button.btnNormal.large 샘플보기
            button.btnSubmit.large 설치하기




  - var relativeApp1 = 'relativeApp1';
  - var relativeApp2 = 'relativeApp2';
  - var relativeAppData = require('./src/js/data/relativeApp.js');
  section.relativeThemeArea
    +mTitle('typeLeft', '유사한 앱 (<span class="count">7</span>)')
    +slider(relativeApp1, relativeAppData, 'typeApp', 'app', true, true)

    +mTitle('typeLeft', '함께 설치한 앱 (<span class="count">16</span>)')
    +slider(relativeApp2, relativeAppData, 'typeApp', 'app', true, true)

  - var relativeTheme1 = 'relativeTheme1';
  - var relativeTheme2 = 'relativeTheme2';
  - var relativeThemeData = require('./src/js/data/relativeTheme.js');
  section.relativeThemeArea
    +mTitle('typeLeft', '유사한 디자인 (<span class="count">7</span>)')
    +slider(relativeTheme1, relativeThemeData, 'typeTheme', 'theme', true, true)

    +mTitle('typeLeft', '<a href="#" class="txtEm">패션/의류</a> 인기디자인 (<span class="count">16</span>)')
    +slider(relativeTheme2, relativeThemeData, 'typeTheme', 'theme', true, true)

block append body
  script(src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js")
  script(src="/js/ui/product.js")