footer#footer
  div.top
    div.corp
      h2.logo
        svg
          use(xlink:href="/images/svg_sprite.svg#cafe24store")
      div.familysite
        button.button.eClick(type='button') Family Site
        ul.site
          each item in ['쇼핑몰센터','개발자센터','파트너센터']
            li
              a(href="#none")= item
    div.nav
      div.menu
        strong.title product
        ul
          li
            a.link(href='#none') 앱
          li
            a.link(href='#none') 테마
      div.menu
        strong.title story
        ul
          li
            a.link(href='#none') 스토어소개
      div.menu
        strong.title support
        ul
          li
            a.link(href='#none') FAQ
      div.menu
        strong.title partners
        ul
          li
            a.link(href='#none', target='_blank') 개발자센터
          li
            a.link(href='#none', target='_blank') 파트너센터
      div.menu
        strong.title store
        ul
          li
            a.link(href='#none') Japan
          li
            a.link(href='#none') Korea
          li
            a.link(href='#none') vietnam
  div.bottom
    div.policy
      a(href='#none') 회사소개
      a(href='#none') 이용약관
      a(href='#none')
        strong 개인정보처리방침
    p.copyright 2019 Cafe24 Corpration. All rights reserved.
  a.btnTop(href='#wrap') Top
