footer#footer
  div.top
    div.corp
      h2.logo
        svg
          use(xlink:href="/images/svg_sprite.svg#cafe24store")
      div.familysite
        button.button.eClick(type='button') Family Site
        ul.site
          each item in ['개발자센터','마케팅센터']
            li
              a(href="#none")= item
    div.nav
      mixin menu(title, ...items)
        div.menu
          strong.title= title
          each item in items
            a.link(href='#none')= item
      +menu('about', '스토어', '이용약관', '개인정보 처리방침')
      +menu('story', '앱 활용 성공사례', '앱 직접 제작', 'B2B 서비스')
      +menu('support', 'FAQ')
      +menu('partners', '파트너센터')
      +menu('store', 'Japan', 'Korea')
  div.bottom
    div.policy
      a(href='#none') 회사소개
      a(href='#none') 이용약관
      a(href='#none')
        strong 개인정보처리방침
    p.copyright 2019 Cafe24 Corpration. All rights reserved.
  a.btnTop(href='#wrap') Top
