extends /layouts/layout
include /components/searchHead
include /components/stateBar
include /components/list
include /components/applist

block append contents
    section.searchHeadArea
        div.gInner
            +searchHead('typeTheme', false, '가나다라마')

    section.appListSearchArea
        div.mTitle.typeLeft.gBlankTop
            h3.title 앱
            div.stateBar
                div.left
                    div.total
                        strong.data 1,222개
                        | 결과
                div.right
                    a(href="#none" class="btnAll") 전체보기
                        i.icoArrow
        div.gInner
            div.appGroup
                +applist('typeSearch grid4', '앱 제목이', '마케팅', '1,000円', '최소한의 서류 작업과 신용 확인없이 긴 신청 절차를 피하십시오.', '/images/@img_app_icon.png')
                +applist('typeSearch grid4', '앱 제목이 한줄일때', '마케팅', '1,000円', '최소한의 서류 작업과 신용 확인없이 긴 신청 절차를 피하십시오.', '/images/@img_app_icon.png')
                +applist('typeSearch grid4', '앱 제목이 길어지면 이렇게 나옴 길다고 길다고', '마케팅', '1,000円', '최소한의 서류 작업과 신용 확인없이 긴 신청 절차를 피하십시오.', '/images/@img_app_icon.png')
                +applist('typeSearch grid4', '앱 제목이 길어지면 이렇게 나옴 길다고 길다고', '마케팅', '1,000円', '최소한의 서류 작업과 신용 확인없이 긴 신청 절차를 피하십시오.', '/images/@img_app_icon.png')

    - var themeList2Data = require('./src/js/data/themeList2.js');
    section.themeListSearchArea
        div.mTitle.typeLeft.gBlankTop
            h3.title 테마
            div.stateBar
                div.left
                    div.total
                        strong.data 1,222개
                        | 결과
                div.right
                    a(href="#none" class="btnAll") 전체보기
                        i.icoArrow

        div.gInner
            +list(themeList2Data, 'typeTheme')
