extends /layouts/layout
include /components/common/mTitle
include /components/common/mPagination
include /components/list
include /components/filter

block append contents
  div.gInner
    +mTitle('typeSearch', '앱')
    section.filterArea
      - var filterThemeData = require('./src/js/data/filterTheme.js');
      div.filterWrap
        h3 필터
        +filter(filterThemeData)

    section.searchResultArea
      //- - var searchTheme = 'searchTheme';
      //- - var searchThemeData = require('./src/js/data/searchTheme.js');
      //- +list(searchTheme, searchThemeData, 'typeTheme')
