extends /layouts/layout
include /components/common/mTitle
include /components/common/mPagination
include /components/searchHead
include /components/stateBar
include /components/filter
include /components/list

block append contents
  button.btnFilter 아무것도 없는 열기버튼
  section.searchHeadArea
    +searchHead('typeTheme', '앱','배너', '마케팅', '고객지원', '유료', '브론즈')

  section.searchArea.gridSet
    - var filterThemeData = require('./src/js/data/filterTheme.js');
    div.wFilter
      div.filterWrap
        +filter(filterThemeData)

    - var searchThemeData = require('./src/js/data/searchTheme.js');
    div.wFilterResult
      +stateBar(false)
      +list(searchThemeData, 'typeTheme')
      +mPagination('typeList', 'RW RTB', '8')
      +mPagination('typeMore', 'RMB')

block append body
  script(src="/js/ui/search.js")
